<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Grup</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <!-- add grup -->

  <div class="modal fade" id="modaladd">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Grup</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div
                  v-if="store.addgruperr"
                  class="alert alert-danger w-100 d-flex justify-content-center align-content-center "
                >
                  <h3 class="font-15">{{ store.addgruperr }}</h3>
                </div>

                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Kelas Grup Aset</label
                  >
                  <div class="">
                    <Select2
                      class="www"
                      :settings="{ width: '25%' }"
                      v-model="store.KelasPick"
                      :options="store.KelasGrupAset"
                      placeholder="--Pilih Kelas Aset--"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="fname" class="control-label col-form-label"
                    >Nama Grup</label
                  >
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      id="fname"
                      placeholder="Nama"
                      v-model="store._namagrup"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="button" @click="addgrup" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Grup -->
  <div class="modal fade" id="modaledit">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Grup</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div
                  v-if="store.addgruperr"
                  class="alert alert-danger w-100 d-flex justify-content-center"
                >
                <h3 class="font-15">{{ store.addgruperr }}</h3>
                </div>

                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Kelas Grup Aset</label
                  >
                  <div class="">
                    <Select2
                      class="www"
                      :settings="{ width: '25%' }"
                      v-model="store.KelasPick"
                      :options="store.KelasGrupAset"
                      placeholder="--Pilih Kelas Aset--"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="fname" class="control-label col-form-label"
                    >Nama Grup</label
                  >
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      id="fname"
                      placeholder="Nama"
                      v-model="store._namagrup"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="button" @click="updategrup" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- view grup -->
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4">
          <div class="card-body items-center">
            <h5 class="card-title mb-0">List Grup</h5>
            <div class="d-flex justify-content-end">
              <button @click="showmodaladd" class="btn btn-info">
                <i class="mdi mdi-account-edit"></i> Tambah Grup
              </button>
            </div>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Nama Grup</label
                      >
                    </div>
                  </th>

                  <th width="20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-6 control-label col-form-label"
                        >Action</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="grup in store.grup"
                  v-bind:key="grup"
                  v-bind:grup="grup"
                >
                  <td>{{ grup.name_grupaset }}</td>
                  <td class="">
                    <button
                      @click="showmodaledit(grup.id)"
                      class="btn btn-warning r-6 mr-3"
                    >
                      Update
                    </button>
                    <!-- <button @click="deletegrup(grup.id)" class="btn btn-danger r-6">
                      Delete
                    </button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Select2 from "vue3-select2-component";

export default {
  name: "GrupPage",
  components: { Select2 },
  data() {
    return {
      store: useTaskStore(),
      id_edit: "",
      columns: [{ data: "name_grupaset" }],
    };
  },

  methods: {
    async showmodaladd() {
      this.store.emptygrup();
      this.store.emptyaktivitas();
      $("#modaladd").modal("show");
      this.store.KelasPick = ""
    },

    async showmodaledit(id) {
      this.id_edit = id;
      this.store.getonegrup(id);
      $("#modaledit").modal("show");
    },

    async updategrup() {
      await this.store.updategrup(this.id_edit);
      if (this.store.succes === true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Diubah",
          showConfirmButton: false,
          timer: 1500,
        });
        this.store.getgrup();
        $("#modaledit").modal("hide");        
        this.store.succes = false
      }
    },

    async addgrup() {
      await this.store.addgrup();
      if (this.store.succes === true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Ditambahkan",
          showConfirmButton: false,
          timer: 1500,
        });
        this.store.getgrup();
        $("#modaladd").modal("hide");
        this.store.succes = false
      }
    },

    deletegrup(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          this.store.deletegrup(id);
          this.$swal("Deleted!", "Data Berhasil Dihapus", "success");
          this.store.getgrup();
        }
      });
    },
  },
  mounted: function () {
    this.store.getgrup();
    this.store.getKelasAset();
    this.store.emptygrup();
  },
};
</script>

<style>
@import "datatables.net-bs5";
</style>
