<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <!-- modal change lingkup kerja -->
  <div class="modal fade" id="modalchange">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Lingkup Kerja</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group d-flex flex-column align-items-center">
                  <label for="fname" class="control-label col-form-label"
                    >Kondisi</label
                  >
                  <!-- <div class="">
                    <input type="text" class="form-control" id="fname" placeholder="Kondisi Aset" v-model="store.kondisi" />
                  </div> -->
                  <div class="d-flex justify-content-center gap-3 mt-2">
                    <button
                      @click="btnOk"
                      v-if="store.kondisilingkup === 1"
                      disabled
                      class="btn btn-success btn-md"
                    >
                      OK
                    </button>
                    <button
                      @click="store.kondisilingkup = 1"
                      v-else
                      class="btn btn-success btn-md"
                    >
                      OK
                    </button>
                    <button
                      @click="btnNotOk"
                      v-if="store.kondisilingkup === 2"
                      class="btn btn-danger btn-md"
                      disabled
                    >
                      TIDAK OK
                    </button>
                    <button
                      @click="store.kondisilingkup = 2"
                      v-else
                      class="btn btn-danger btn-md"
                    >
                      TIDAK OK
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <label for="fname" class="control-label col-form-label"
                    >Keterangan</label
                  >
                  <div class="">
                    <textarea
                      type="text"
                      class="form-control"
                      id="fname"
                      placeholder="Keterangan Lingkup Kerja"
                      v-model="store.keteranganlingkup"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button
            type="button"
            class="btn btn-default"
            @click="store.kondisilingkup = 0"
            data-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            @click="EditLingkupKerja"
            class="btn btn-success"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- content -->
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4 card-success card-outline">
        
          <div class="card-body items-center">
            <h5 class="card-title mb-0">List Task Cabang</h5>
            <div class="d-flex justify-content-end"></div>
          </div>
          <div class="card-body">
            <div class="d-flex gap-2">
              <h6 class="font-weight-bold">Kategori Aset :</h6>
              <h6>{{ store._namakategori }}</h6>
            </div>
            <div class="d-flex gap-2">
              <h6 class="font-weight-bold">Tgl Ditambahkan :</h6>
              <h6>{{ formattedDate(store.tgl_akuisisi) }}</h6>
            </div>
            <div class="d-flex gap-2">
              <h6 class="font-weight-bold">Lokasi :</h6>
              <h6>{{ store.lokasi_aset }}</h6>
            </div>
            <div class="d-flex gap-2">
              <h6 class="font-weight-bold">Keterangan :</h6>
              <h6>{{ store.keterangan }}</h6>
            </div>
          </div>
        </div>
        <div class="card r-4 card-success card-outline">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Aktivitas
                  </label>
                  <div class="">
                    <input
                      class="form-control"
                      placeholder="Masukkan Lokasi Aset"
                      rows="3"
                      v-model="store.aksettaskselect"
                      disabled
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Expiry Date
                  </label>
                  <div class="">
                    <input
                      class="form-control"
                      placeholder="Masukkan Lokasi Aset"
                      rows="3"
                      v-model="tglExp"
                      disabled
                    />
                  </div>
                </div>
                <hr />
                <h6 class="font-weight-bold">Lingkup Kerja</h6>
                <div>
                  <div
                    class="row"
                    v-for="lingkup in store.AllLingkuKerjaTask"
                    v-bind:key="lingkup"
                    v-bind:grup="lingkup"
                  >
                    <div class="col-md-6 mt-2">
                      <div class="d-flex gap-2">
                        <i
                          v-if="lingkup.kondisi == 0"
                          class="fa fa-square text-white border border-3"
                          aria-hidden="true"
                        ></i>
                        <i
                          v-else-if="lingkup.kondisi == 1"
                          class="fa fa-square text-success"
                          aria-hidden="true"
                        ></i>
                        <i
                          v-else
                          class="fa fa-square text-danger"
                          aria-hidden="true"
                        ></i>
                        <h6
                          @click="showModalLingkup(lingkup.id)"
                          class="font-weight-normal cursor-pointer"
                        >
                          {{ lingkup.lingkup_kerja }}
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex justify-content-center">
                  <div class="form-group text-center">
                    <label for="foto" class="control-label col-form-label"
                      >Foto Bukti Operasional</label
                    >
                    <div class="row gap-1 justify-content-center">
                      <div
                        v-for="foto in store.foto_operasional"
                        v-bind:key="foto"
                        v-bind:aktivitas="foto"
                        class="col-md-3 border-2 border-dark mt-2 "
                      >
                        <img class="img_multiple w-100 p-1" :src="PhotoPath + foto" />
                      </div>
                    </div>

                    <div class="row justify-content-center mt-2">
                      <div class="flex">
                        <div>
                          <input
                            type="file"
                            class="w-75 customfile"
                            @change="multipleImg"
                            required
                            multiple
                          />
                        </div>
                      </div>
                    </div>
                    <button v-if="store.foto_operasional.length > 1" class="btn btn-success mt-2 btn-md" @click="AddImage">
                      Tambah Gambar
                    </button>
                
                  </div>
                </div>
                <br />
                <p class="font-weight-bold text-center">Albums :</p>
                <div class="row gap-1 justify-content-center">
                  <div
                    v-for="foto in store.FotoOperasionals"
                    v-bind:key="foto"
                    v-bind:aktivitas="foto"
                    class="kotakalbum border-2 border-dark rounded-5 col-md-2"
                  >
                    <img
                      class="sizealbum"
                      :src="PhotoPath + foto.foto_operasional"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import moment from "moment";

export default {
  name: "DetailTask",
  components: {},
  data() {
    return {
      store: useTaskStore(),
      PhotoPath: process.env.VUE_APP_PHOTO_URL,
      idUser: this.$cookies.get("user").id,
      id: this.$route.params.id,
      idLingkup: "",
      imgMulti: [],
    };
  },

  computed: {
    dataTask() {
      return this.store.AllTask.filter(
        (d) =>
          (d.id_cabang === this.$cookies.get("user").id_cabang &&
            d.status === 1) ||
          d.status === this.idUser
      );
    },
    tglExp() {
      return moment(this.store.tgl_expired).format("YY-MM-DD");
    },
  },

  watch: {
    cabang(value) {
      console.log(value);
      this.store.getAsetRefCabang(value);
    },
    aset(value) {
      this.store.getAktivitasAsetRefAset(value);
    },
  },

  methods: {
    klik() {
      console.log(this.img);
    },

    showModalLingkup(id) {
      this.idLingkup = id;
      $("#modalchange").modal("show");
    },

    async EditLingkupKerja() {
      await this.store.EditLingkupKerja(this.idLingkup);
      this.store.getDetailTaskCabang(this.id);
      $("#modalchange").modal("hide");
      this.store.kondisilingkup = 0;
      this.store.keteranganlingkup = "";
    },

    formattedDate(data) {
      return moment(data).format("YY-MM-DD");
    },
    multipleImg(e) {
      const selectedFiles = e.target.files;
      for (let i = 0; i < selectedFiles.length; i++) {
        const file = selectedFiles[i];
        let formData = new FormData();
        formData.append("file", file);
        this.store.imgupload(formData);
      }
    },
 
    async AddImage() {
      await this.store.AddDetailAktivitasAset();
      this.$swal({
        position: "center",
        icon: "success",
        title: "Data Berhasil Diubah",
        showConfirmButton: false,
        timer: 1500,
      });
      this.store.GetFotoOperasional();
    },
  },

  mounted: function () {
    this.store.getDetailTaskCabang(this.id);
    setTimeout(() => {
      this.store.GetFotoOperasional();
    }, 500);
  },
};
</script>
