<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <!-- content -->
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4 card-success card-outline">
          <div class="card-body items-center text-black-50">
            <router-link
              :to="'/taskcabang'"
              class="card-title text-black-50 mb-0"
              >Task</router-link
            >
            <router-link
              :to="'/loghistorycabang'"
              class="card-title text-black font-weight-bold -0 ml-2"
              >Log History</router-link
            >
            <div class="d-flex justify-content-end"></div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card r-4 card-success card-outline">
          <div class="card-body items-center">
            <h5 class="card-title mb-0">Log History</h5>
            <div class="d-flex justify-content-end"></div>
          </div>
          <div class="card-body">
            <div class="d-flex gap-2 align-items-center">
              <div class="form-group">
                <label for="tglmsk" class="control-label col-form-label"
                  >Tanggal Awal</label
                >
                <div class="input-group">
                  <div class="input-group-append">
                    <span class="input-group-text h-100"
                      ><i class="mdi mdi-calendar">Date</i></span
                    >
                  </div>
                  <div class="form-control control-datepicker">
                    <datepicker
                      class="form-control-datepicker"
                      v-model="store.waktu_mulai"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="tglmsk" class="control-label col-form-label"
                  >Tanggal Akhir</label
                >
                <div class="input-group">
                  <div class="input-group-append">
                    <span class="input-group-text h-100"
                      ><i class="mdi mdi-calendar">Date</i></span
                    >
                  </div>
                  <div class="form-control control-datepicker">
                    <datepicker
                      class="form-control-datepicker"
                      v-model="store.waktu_selesai"
                    />
                  </div>
                </div>
              </div>
              <button
                class="btn btn-success btn-xl mt-4"
                @click="cariTask"
                style="width: 180px"
              >
                Cari
              </button>
            </div>
          </div>
          <div class="card-body">
            <div
              v-for="data in dataTask"
              :key="data"
              class="d-flex gap-2 align-items-center"
            >
              <i
                class="fa fa-circle"
                style="font-size: 10px"
                aria-hidden="true"
              ></i>
              <div>
                <h6 class="">
                  <b>{{ data.username }} </b> melakukan
                  <b>{{ data.nama_aktivitas }} </b> terhadap
                  <b>{{ data.nama_awal }} </b> dengan id
                  <b>{{ data.id_aset }} </b> pada
                  <b> {{ formattedDate(data.tanggal_operasional) }}</b>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { useTaskStore } from "@/stores/TaskStore";
import Datepicker from "vue3-datepicker";
import moment from "moment";

export default {
  name: "LogHistory",
  components: { Datepicker },
  data() {
    return {
      store: useTaskStore(),
      idUser: this.$cookies.get("user").id,
    };
  },

  computed: {
    dataTask() {
      return this.store.LogData.filter((d) => d.status === this.idUser);
    },
  },

  methods: {
    formattedDate(data) {
      return moment(data).format("YY-MM-DD");
    },
    async cariTask() {
      await this.store.getLogHistory();
    
    },
  },

  mounted: function () {},
};
</script>
  