<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <!-- modal detail task -->
  <div class="modal fade" id="modaldetail">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Detail Task Cabang</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex gap-2">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <h5 class="font-bold">{{ store.lokasi_aset }}</h5>
                </div>
                <div class="d-flex gap-2">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                  <h5 class="font-bold">{{ store.asettaskselect }}</h5>
                </div>
                <div class="d-flex gap-2">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <h5 class="font-bold">{{ formattedDate(store.tgl_expired) }}</h5>
                </div>
              </div>
            </div>
            <hr />
            <div class="row" v-for="lingkup in store.AllLingkuKerjaTask" v-bind:key="lingkup" v-bind:grup="lingkup">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label">Ruang Lingkup</label>
                  <div class="">
                    <input class="form-control bg-white" rows="3" v-model="lingkup.lingkup_kerja" disabled />
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label">Keterangan</label>
                  <div class="">
                    <input class="form-control bg-white" rows="3" v-model="lingkup.keterangan" disabled />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-default btn-xl w-25" data-dismiss="modal">
            Close
          </button>
          <button @click="ChangeTaskStatus" type="button" class="btn btn-primary btn-xl w-50" data-dismiss="modal">
            Kerjakan
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- content -->
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4 card-success card-outline">
          <div class="card-body items-center text-black-50">
            <router-link :to="'/taskcabang'" class="card-title text-black font-weight-bold mb-0">Task</router-link>
            <router-link :to="'/loghistorycabang'" class="card-title text-black-50 mb-0 ml-2">Log History</router-link>
            <div class="d-flex justify-content-end"></div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card r-4 card-success card-outline">
          <div class="card-body items-center">
            <h5 class="card-title mb-0">List Task Cabang</h5>
            <div class="d-flex justify-content-end"></div>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-10 control-label col-form-label">Aset</label>
                      <div class="col-sm-2">
                        <button class="btn btn-outline-secondary r-4 btn-sm border-0" @click="sortResult('nama', true)">
                          <i class="mdi mdi-arrow-up-bold"></i>
                        </button>
                        <button class="btn btn-outline-secondary r-4 btn-sm border-0" @click="sortResult('nama', false)">
                          <i class="mdi mdi-arrow-down-bold"></i>
                        </button>
                      </div>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-10 control-label col-form-label">Id Aset</label>
                      <div class="col-sm-2">
                        <button class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('username', true)">
                          <i class="mdi mdi-arrow-up-bold"></i>
                        </button>
                        <button class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('username', false)">
                          <i class="mdi mdi-arrow-down-bold"></i>
                        </button>
                      </div>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-12 control-label col-form-label">Aktivitas</label>
                    </div>
                  </th>

                  <th>
                    <div class="form-group">
                      <label for="fname" class="col-sm-8 control-label col-form-label">Status Aset</label>
                    </div>
                  </th>

                  <th>
                    <div class="form-group">
                      <label for="fname" class="col-sm-8 control-label col-form-label">Expiry Date</label>
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <label for="fname" class="col-sm-10 control-label col-form-label">Action</label>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="task in dataTask" v-bind:key="task" v-bind:aktivitas="task">
                  <td>{{ task.nama_awal }}</td>
                  <td>{{ task.id }}</td>
                  <td>{{ task.nama_aktivitas }}</td>
                  <td v-if="task.status_aktivasi === 1">Avilable</td>
                  <td v-else>Expired</td>
                  <td>{{ formattedDate(task.expiry_date) }}</td>

                  <td class="d-flex gap-2">
                    <router-link :to="'/detailtask/' + task.id_task" v-if="task.status === idUser" class="btn btn-primary bgn-sm">
                      Detail Task 
                    </router-link>
                    <button v-else @click="showModalDetail(task.id_task)" class="btn btn-warning bgn-sm">
                      Detail Task Cabang
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template> 
<script>
import { useTaskStore } from "@/stores/TaskStore";

import Datepicker from "vue3-datepicker";
import moment from "moment";
                           
export default {
  name: "ViewTaskCabang",
  components: { Datepicker },
  data() {
    return {
      store: useTaskStore(),
      idUser: this.$cookies.get("user").id,
      idTask: "",
      cabang: "",
      aset: "",
      baik: " Baik",
      tdk_baik: "Tidak Baik",
    };
  },

  computed: {
    dataTask() {
      return this.store.AllTask.filter(
        (d) =>
          (d.id_cabang === this.$cookies.get("user").id_cabang &&
            d.status === 1) ||
          d.status === this.idUser
      );
    },
  },

  watch: {
    cabang(value) {
      console.log(value);
      this.store.getAsetRefCabang(value);
    },
    aset(value) {
      this.store.getAktivitasAsetRefAset(value);
    },
  },

  methods: {
    formattedDate(data) {
      return moment(data).format("YY-MM-DD");
    },
    async ChangeTaskStatus() {
      await this.store.ChangeStatusTask(
        this.idTask,
        this.idUser
      );
      this.$swal({
        position: "center",
        icon: "success",
        title: "Data Berhasil Ditambahkan",
        showConfirmButton: false,
        timer: 1500,
      });
      $("#modaldetail").modal("hide");
      this.store.getAllTask();
    },

    showModalDetail(id) {
      this.idTask = id;
      $("#modaldetail").modal("show");
      this.store.getDetailTaskCabang(id);
    },
    
    async getAsetRefCabang() {
      await this.store.getAsetRefCabang();
    },
    async AddTask(id) {
      await this.store.AddTask(id);
      this.$swal({
        position: "center",
        icon: "success",
        title: "Data Berhasil Ditambahkan",
        showConfirmButton: false,
        timer: 1500,
      });
      $("#modaladd").modal("hide");
      this.store.getAllTask();
    },
  },

  mounted: function () {
    this.store.getcabangtext();
    this.store.getallaset();
    this.store.getAllTask();
  },
};
</script>
