<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <!-- modal add -->
  <div class="modal fade" id="modaladd">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Task</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <!-- <div
                  v-if="store.addaktivitaserr"
                  class="alert alert-danger w-100 d-flex justify-content-center"
                >
                  <h3 clas="">{{ store.addaktivitaserr }}</h3>
                </div> -->

                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Pilih Cabang</label
                  >
                  <div class="">
                    <Select2
                      class="www"
                      :settings="{ width: '45%' }"
                      v-model="cabang"
                      :options="store.cabanglist"
                      placeholder="--Pilih Cabang--"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Nama Aset</label
                  >
                  <div class="">
                    <Select2
                      class="www"
                      :settings="{ width: '45%' }"
                      v-model="aset"
                      :options="store.allAsetCabang"
                      placeholder="--Ketik Nama Aset--"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Aktivitas</label
                  >
                  <div class="">
                    <Select2
                      :settings="{ width: '45%' }"
                      class="www"
                      v-model="store.aksettaskselect"
                      :options="store.allAkivitasAset"
                      placeholder="--Pilih Jabatan--"
                    />
                  </div>
                </div>
                <hr />
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Nama Task</label
                  >
                  <div class="">
                    <input
                      class="form-control"
                      rows="3"
                      v-model="store.nama_task"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Keterangan</label
                  >
                  <div class="">
                    <textarea
                      class="form-control"
                      rows="3"
                      v-model="store.keterangan_task"
                    ></textarea>
                  </div>
                </div>

                <hr />
                <div class="form-group">
                  <label for="tglmsk" class="control-label col-form-label"
                    >Tanggal Mulai</label
                  >
                  <div class="input-group">
                    <div class="input-group-append">
                      <span class="input-group-text h-100"
                        ><i class="mdi mdi-calendar">Date</i></span
                      >
                    </div>
                    <div class="form-control control-datepicker">
                      <datepicker
                        class="form-control-datepicker w-100 outline-none"
                        v-model="store.waktu_mulai"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="tglmsk" class="control-label col-form-label"
                    >Tanggal Sampai</label
                  >
                  <div class="input-group">
                    <div class="input-group-append">
                      <span class="input-group-text h-100"
                        ><i class="mdi mdi-calendar">Date</i></span
                      >
                    </div>
                    <div class="form-control control-datepicker">
                      <datepicker
                        class="form-control-datepicker w-100 outline-none"
                        v-model="store.waktu_selesai"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="button" @click="AddTask" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal detail task -->
  <div class="modal fade" id="modaldetail">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Detail Task</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Cabang</label
                  >
                  <div class="">
                    <input
                      class="form-control"
                      rows="3"
                      v-model="store.cabangtaskselect"
                      disabled
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Nama Aset</label
                  >
                  <div class="">
                    <input
                      class="form-control"
                      rows="3"
                      v-model="store.asettaskselect"
                      disabled
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="tglmsk" class="control-label col-form-label"
                    >Expiry Date</label
                  >
                  <div class="input-group">
                    <div class="input-group-append">
                      <span class="input-group-text h-100"
                        ><i class="mdi mdi-calendar">Date</i></span
                      >
                    </div>
                    <div class="form-control control-datepicker">
                      <datepicker
                        type="date"
                        class="form-control-datepicker w-100 outline-none"
                        v-model="store.tgl_expired"
                        disabled
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Petugas</label
                  >
                  <div class="">
                    <input
                      class="form-control"
                      rows="3"
                      v-model="store.jabatanselect"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Aktivitas</label
                  >
                  <div class="">
                    <input
                      class="form-control"
                      rows="3"
                      v-model="store.aksettaskselect"
                      disabled
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Lokasi Aset</label
                  >
                  <div class="">
                    <textarea
                      class="form-control"
                      rows="3"
                      v-model="store.lokasi_aset"
                      disabled
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <hr />
            <div
              class="row"
              v-for="lingkup in store.AllLingkuKerjaTask"
              v-bind:key="lingkup"
              v-bind:grup="lingkup"
            >
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Ruang Lingkup</label
                  >
                  <div class="">
                    <input
                      class="form-control bg-white"
                      rows="3"
                      v-model="lingkup.lingkup_kerja"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Kondisi</label
                  >
                  <div class="">
                    <input
                      v-if="lingkup.kondisi === 1"
                      class="form-control bg-green"
                      rows="3"
                      v-model="baik"
                      disabled
                    />
                    <input
                      v-else
                      class="form-control bg-danger"
                      rows="3"
                      v-model="tdk_baik"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Keterangan</label
                  >
                  <div class="">
                    <input
                      class="form-control bg-white"
                      rows="3"
                      v-model="lingkup.keterangan"
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal Repeat task -->
  <div class="modal fade" id="repeattask">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Repeat Task</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Cabang</label
                  >
                  <div class="">
                    <input
                      class="form-control"
                      rows="3"
                      v-model="store.cabangtaskselect"
                      disabled
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Nama Aset</label
                  >
                  <div class="">
                    <input
                      class="form-control"
                      rows="3"
                      v-model="store.asettaskselect"
                      disabled
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="tglmsk" class="control-label col-form-label"
                    >New Expiry Date </label
                  >
                  <div class="input-group">
                    <div class="input-group-append">
                      <span class="input-group-text h-100"
                        ><i class="mdi mdi-calendar">Date</i></span
                      >
                    </div>
                    <div class="form-control control-datepicker">
                      <datepicker
                        class="form-control-datepicker w-100 outline-none"
                        v-model="store.tgl_expired"
                        
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Petugas</label
                  >
                  <div class="">
                    <input
                      class="form-control"
                      rows="3"
                      v-model="store.jabatanselect"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Aktivitas</label
                  >
                  <div class="">
                    <input
                      class="form-control"
                      rows="3"
                      v-model="store.aksettaskselect"
                      disabled
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Lokasi Aset</label
                  >
                  <div class="">
                    <textarea
                      class="form-control"
                      rows="3"
                      v-model="store.lokasi_aset"
                      disabled
                    ></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Keterangan</label
                  >
                  <div class="">
                    <textarea
                      class="form-control"
                      rows="3"
                      v-model="store.keterangan_task"
                      
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <hr />
            <div
              class="row"
              v-for="lingkup in store?.AllLingkuKerjaTask"
              v-bind:key="lingkup"
              v-bind:grup="lingkup"
            >
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Ruang Lingkup</label
                  >
                  <div class="">
                    <input
                      class="form-control bg-white"
                      rows="3"
                      v-model="lingkup.lingkup_kerja"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Kondisi</label
                  >
                  <div class="">
                    <input
                      v-if="lingkup.kondisi === 1"
                      class="form-control bg-green"
                      rows="3"
                      v-model="baik"
                      disabled
                    />
                    <input
                      v-else
                      class="form-control bg-danger"
                      rows="3"
                      v-model="tdk_baik"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Keterangan</label
                  >
                  <div class="">
                    <input
                      class="form-control bg-white"
                      rows="3"
                      v-model="lingkup.keterangan"
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button @click="RepeatTask"  type="button" class="btn btn-success" data-dismiss="modal">
            Repeat Task
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- content -->
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4 card-success card-outline">
          <div class="card-body items-center text-black-50">
            <router-link :to="'/task'" class="card-title text-black font-weight-bold mb-0">Task</router-link>
            <router-link :to="'/loghistory'" class="card-title text-black-50 mb-0 ml-2">Log History</router-link>
            <div class="d-flex justify-content-end"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12" v-if="store.TaskNotClaim">
        <div class="card r-4 card-danger card-outline">
          <div class="bg-danger w-100 px-3 py-1" v-for="data in store.TaskNotClaim" :key="data">
              <h6> - Task <b>{{ data.nama_task }}</b> Tanggal Pengerjaan Sampai <b>{{ formattedDate(data.waktu_sampai )}}</b> Belum Dikerjakan  </h6>
             
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card r-4 card-success card-outline">
          <div class="card-body items-center">
            <h5 class="card-title mb-0">List Data Task</h5>
            <div class="d-flex justify-content-end">
              <button @click="showModal" class="btn btn-info">
                <i class="mdi mdi-account-edit"></i> Tambah Task
              </button>
            </div>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Aset</label
                      >
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Id Aset</label
                      >
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Aktivitas</label
                      >
                    </div>
                  </th>

                  <th>
                    <div class="form-group">
                      <label
                        for="fname"
                        class="col-sm-8 control-label col-form-label"
                        >Status Aset</label
                      >
                    </div>
                  </th>

                  <th>
                    <div class="form-group">
                      <label
                        for="fname"
                        class="col-sm-8 control-label col-form-label"
                        >Expiry Date</label
                      >
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Action</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="task in store.AllTask"
                  v-bind:key="task"
                  v-bind:aktivitas="task"
                >
                  <td>{{ task.nama_awal }}</td>
                  <td>{{ task.id }}</td>
                  <td>{{ task.nama_aktivitas }}</td>
                  <td v-if="task.status_aktivasi === 1">Avilable</td>
                  <td v-else>Unavilable</td>
                  <td>{{ formattedDate(task.expiry_date) }}</td>

                  <td class="d-flex gap-2">
                    <button
                      @click="showModalDetail(task.id_task)"
                      class="btn btn-warning bgn-sm"
                    >
                      Detail Task
                    </button>
                    <button
                      @click="ModalRepeat(task.id_task)"
                      class="btn btn-success bgn-sm"
                    >
                      Repeat Task
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Select2 from "vue3-select2-component";
import Datepicker from "vue3-datepicker";
import moment from "moment";

export default {
  name: "ViewTaskPage",
  components: { Select2, Datepicker },
  data() {
    return {
      store: useTaskStore(),
      cabang: "",
      aset: "",
      baik : " Baik",
      tdk_baik : "Tidak Baik"
    };
  },
  


  watch: {
    cabang(value) {
      console.log(value);
      this.store.getAsetRefCabang(value);
    },
    aset(value) {
      this.store.getAktivitasAsetRefAset(value);
    },
  },

  methods: {
    formattedDate(data) {
      return moment(data).format("YY-MM-DD");
    },
    showModalDetail(id) {
      $("#modaldetail").modal("show");
      this.store.getDetailTask(id);
    },
    ModalRepeat(id) {
      $("#repeattask").modal("show");
      this.store.getDetailTask(id);
    },
    showModal() {
      $("#modaladd").modal("show");
    },
    async getAsetRefCabang() {
      await this.store.getAsetRefCabang();
    },

    async RepeatTask(){
      await this.store.RepeatTask()
      this.$swal({
        position: "center",
        icon: "success",
        title: "Data Berhasil Ditambahkan",
        showConfirmButton: false,
        timer: 1500,
      });
      $("#repeattask").modal("hide");
      this.store.getAllTask();
    },
    async AddTask(id) {
      await this.store.AddTask(id);
      this.$swal({
        position: "center",
        icon: "success",
        title: "Data Berhasil Ditambahkan",
        showConfirmButton: false,
        timer: 1500,
      });
      $("#modaladd").modal("hide");
      this.store.getAllTask();
      this.cabang = ''
      this.aset = ''
    },
  },

  mounted: function () {
    this.store.getcabangtext();
    this.store.getallaset();
    this.store.getAllTask();
    this.store.checkTask()
  },
};
</script>
