<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Cabang</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>
  <!-- content -->


  <div class="container-fluid mt-2">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Tambah Cabang</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="Grup" class="control-label col-form-label">Kelurahan</label>
              <div>
                <Select2 :settings="{ width: '100%' }" v-model="store.kelurahanselect" :options="store.kelurahan"
                  placeholder="--Pilih Kelurahan--" />
              </div>
            </div>
            <div class="form-group">
              <label for="Grup" class="control-label col-form-label">Kecamatan</label>
              <div>
                <Select2 v-model="store.kecamatanselect" :options="store.kecamatan" placeholder="--Pilih Kecamatan--" />
              </div>
            </div>

            <div class="form-group">
              <label for="Grup" class="control-label col-form-label">kabupaten</label>
              <div>
                <Select2 v-model="store.kabupatenselect" :options="store.kabupaten" placeholder="--Pilih Kabupaten--" />
              </div>
            </div>

            <div class="form-group">
              <label for="Grup" class="control-label col-form-label">Provinsi</label>
              <div>
                <Select2 v-model="store.provinsiselect" :options="store.provinsi" placeholder="--Pilih Provinsi--" />
              </div>
            </div>

            <div class="form-group">
              <label for="Grup" class="control-label col-form-label">Wilayah</label>
              <div>
                <Select2 v-model="store.wilayahselect" :options="store.wilayah" placeholder="--Pilih Wilayah--" />
              </div>
            </div>

            <div class="form-group">
              <label for="fname" class="control-label col-form-label">Kode Cabang</label>
              <div class="">
                <input type="text" class="form-control" id="fname" placeholder="Masukkan Kode Cabang"
                  v-model="store.kode_cabang" />
              </div>
            </div>

            <div class="form-group">
              <label for="fname" class="control-label col-form-label">Nama Cabang</label>
              <div class="">
                <input type="text" class="form-control" id="fname" placeholder="Masukkan Nama Cabang"
                  v-model="store.nama_cabang" :aria-required="true" required />
              </div>
            </div>


          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="fname" class="control-label col-form-label">Telepon</label>
              <div class="">
                <input type="number" class="form-control" placeholder="Masukkan Telepon" v-model="store.telepon"
                  :required="true" :aria-required="true" />
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label">PKP</label>
              <div class="">
                <input type="checkbox" v-model="store.pkp" />
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label">Nama Resmi</label>
              <input type="text" class="form-control" placeholder="Masukkan Nama Resmi" v-model="store.nama_resmi" />
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label">NPWP</label>
              <input type="text" class="form-control" placeholder="Masukkan Nomor NPWP" v-model="store.npwp" />
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label">Alamat</label>
              <input type="text" class="form-control" placeholder="Masukkan Alamat Cabang" v-model="store.alamat" />
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label">Target</label>
              <input type="number" class="form-control" placeholder="Masukkan Target Cabang" v-model="store.target" />
            </div>
          </div>
        </div>
      </div>

      <div class="card-body float-end">
        <router-link :to="'/aset'" class="btn btn-danger">
          Kembali
        </router-link>
        <button v-if="store.kelurahanselect && store.kecamatanselect && store.kabupatenselect && store.provinsiselect
          && store.wilayahselect && store.kode_cabang && store.nama_cabang && store.telepon && store.pkp && store.nama_resmi
          && store.npwp && store.alamat && store.target" type="button" class="btn btn-success text-white"
          style="margin-left: 10px" @click="addcabang()">
          Simpan
        </button>
        <button v-else type="button" class="btn btn-success text-white" style="margin-left: 10px" @click="addcabang()"
          disabled>
          Simpan
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Select2 from "vue3-select2-component";
export default {
  name: "AddCabangPage",
  components: { Select2 },
  data() {
    return {
      store: useTaskStore(),
    };
  },

  methods: {
    addcabang() {
      this.store.addcabang();
    },
  },
  mounted: function () {
    this.store.emptycabang();
    this.store.getallselect();
  },
};
</script>
