<template>
 <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Cabang</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>
  <!-- edit modal section -->

  <div class="modal fade" id="exampleModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Cabang</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div
                v-if="store.addcabangerr"
                class="alert alert-danger w-100 d-flex justify-content-center"
              >
                <h3 clas="">{{ store.addcabangerr }}</h3>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Kelurahan</label
                  >
                  <div>
                    <Select2
                      v-model="store.kelurahanselect"
                      :settings="{ width: '100%' }"
                      :options="store.kelurahan"
                      placeholder="--Pilih Aktivitas--"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Kecamatan</label
                  >
                  <div>
                    <Select2
                      v-model="store.kecamatanselect"
                      :settings="{ width: '100%' }"
                      :options="store.kecamatan"
                      placeholder="--Pilih Aktivitas--"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >kabupaten</label
                  >
                  <div>
                    <Select2
                      v-model="store.kabupatenselect"
                      :settings="{ width: '100%' }"
                      :options="store.kabupaten"
                      placeholder="--Pilih Aktivitas--"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Provinsi</label
                  >
                  <div>
                    <Select2
                      v-model="store.provinsiselect"
                      :settings="{ width: '100%' }"
                      :options="store.provinsi"
                      placeholder="--Pilih Aktivitas--"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Wilayah</label
                  >
                  <div>
                    <Select2
                      v-model="store.wilayahselect"
                      :settings="{ width: '100%' }"
                      :options="store.wilayah"
                      placeholder="--Pilih Aktivitas--"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="fname" class="control-label col-form-label"
                    >Kode Cabang</label
                  >
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      id="fname"
                      placeholder="Nama"
                      v-model="store.kode_cabang"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="fname" class="control-label col-form-label"
                    >Nama Cabang</label
                  >
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      id="fname"
                      placeholder="Nama"
                      v-model="store.nama_cabang"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fname" class="control-label col-form-label"
                    >Telefon</label
                  >
                  <div class="">
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Nama"
                      v-model="store.telepon"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >PKP</label
                  >
                  <div class="">
                    <input type="checkbox" v-model="store.pkp" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Nama Resmi</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nama"
                    v-model="store.nama_resmi"
                  />
                </div>

                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >NPWP</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="npwp"
                    v-model="store.npwp"
                  />
                </div>

                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Alamat</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="npwp"
                    v-model="store.alamat"
                  />
                </div>

                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Target</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    placeholder="targe"
                    v-model="store.target"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
            <button
              type="button"
              @click="updatecabang(id__edit)"
              class="btn btn-primary"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- tabel section -->

  
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4">
          <div class="card-body items-center">
            <h5 class="card-title mb-0">List Data Aset</h5>
            <div class="d-flex justify-content-end">
              <router-link :to="'/addcabang/'" class="btn btn-sm btn-info r-6"
                ><i class="mdi mdi-account-edit"></i> Tambah
                Cabang</router-link
              >
            </div>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Nama Cabang</label
                      >
                   
                    </div>
                  </th>

                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Alamat</label
                      >
                    </div>
                  </th>

                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-6 control-label col-form-label"
                        >Action</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="cabang in store.allcabang"
                  v-bind:key="cabang"
                  v-bind:cabang="cabang"
                >
                  <td>{{ cabang.nama_cabang }}</td>
                  <td>{{ cabang.alamat }}</td>
                  <td>
                    <button
                      class="btn btn-info r-6"
                      @click="showmodal(cabang.id)"
                    >
                      Edit
                    </button>
                    <button
                      class="btn btn-danger r-6 ml-3"
                      @click="deletecabang(cabang.id)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Select2 from "vue3-select2-component";
export default {
  name: "CabangPage",
  components: { Select2 },
  data() {
    return {
      store: useTaskStore(),
      id__edit: "",

      token: this.$cookies.get("user").token,
    };
  },

  methods: {
    showmodal(id) {
      this.id__edit = id;
      this.store.getonecabang(id);
      this.store.getallselect();

      $("#exampleModal").modal("show");
    },
    async updatecabang(id) {
      await this.store.updatecabang(id, this.token);
      if (this.store.succes === true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Ditambahkan",
          showConfirmButton: false,
          timer: 1500,
        });
        this.store.getallcabang();
        $("#exampleModal").modal("hide");
      }
    },
    deletecabang(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          this.store.deletecabang(id);
          this.$swal("Deleted!", "Data Berhasil Dihapus", "success");
          this.store.getallcabang();
        }
      });
    },
  },
  mounted: function () {
    this.store.getallcabang();
    // console.log(this.store.allcabang);
  },
};
</script>
