<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Karyawan</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <!-- data diri -->
  <div class="container-fluid mt-2">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Data Diri</h3>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >Nama Karyawan</label
              >
              <div class="">
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  v-model="store.namaKaryawan"
                  disabled
                />
              </div>
            </div>
            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >Id Karyawan</label
              >
              <div class="">
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  v-model="store.idKaryawan"
                  disabled
                />
              </div>
            </div>
            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >Cabang Utama</label
              >
              <div class="">
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  v-model="store.CabangUtama"
                  disabled
                />
              </div>
            </div>
          </div>
        </div>
        <br />
        <hr />
      </div>
    </div>
  </div>

  <!-- perbantuan -->
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4">
          <div class="card-body items-center">
            <h5 class="card-title mb-0">List Perbantuan</h5>
            <div class="d-flex justify-content-end">
              <router-link
                :to="'/perbantuankaryawan/' + id"
                class="btn btn-info"
              >
                <i class="mdi mdi-account-edit"></i> Tambah Perbantuan
              </router-link>
            </div>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Cabang</label
                      >
                      <div class="col-sm-2">
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('nama', true)"
                        >
                          <i class="mdi mdi-arrow-up-bold"></i>
                        </button>
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('nama', false)"
                        >
                          <i class="mdi mdi-arrow-down-bold"></i>
                        </button>
                      </div>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Jabatan</label
                      >
                      <div class="col-sm-2">
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('username', true)"
                        >
                          <i class="mdi mdi-arrow-up-bold"></i>
                        </button>
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('username', false)"
                        >
                          <i class="mdi mdi-arrow-down-bold"></i>
                        </button>
                      </div>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Aktif
                      </label>
                    </div>
                  </th>

                  <th>
                    <div class="form-group">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Action</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="data in store.DetailPerbantuan"
                  v-bind:key="data"
                  v-bind:user="data"
                >
                  <td>{{ data.cabangperbantuan }}</td>
                  <td>{{ data.jabatan }}</td>
                  <td>{{ formattedDate(data.tgl_perbantuan) }}</td>
                  <td>
                    <button
                      @click="hapusakses(data.id)"
                      class="bg-red-400 px-2 py-1 rounded-md text-white"
                    >
                      Hapus Akses
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
// import Vue from 'vue'
import VueCookies from "vue-cookies";
import Select2 from "vue3-select2-component";
import Datepicker from "vue3-datepicker";
import { useTaskStore } from "../../stores/TaskStore";
import moment from "moment";
export default {
  name: "DetailKaryawan",
  components: { Select2, Datepicker },
  data() {
    return {
      store: useTaskStore(),
      PhotoPath: process.env.VUE_APP_PHOTO_URL,
      Token: this.$cookies.get("user").token,
      api: process.env.VUE_APP_API_URL,
      id: this.$route.params.id,
    };
  },

  methods: {
    formattedDate(data) {
      return moment(data).format("YY-MM-DD");
    },
    async hapusakses(id) {
      console.log(id);
      await this.store.deleteJabatanPerbantuan(id);
      this.$swal({
        position: "center",
        icon: "success",
        title: "Status Berhasil Diubah",
        showConfirmButton: false,
        timer: 1500,
      });
      this.store.getdetailkaryawan(this.id);
    },
  },
  mounted: function () {
    this.store.getdetailkaryawan(this.id);
  },
};
</script>
