<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Karyawan</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <!-- content -->
  <div class="container-fluid mt-2">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Edit Karyawan</h3>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div
            v-if="store.addkaryawanerr"
            class="alert alert-danger w-100 d-flex justify-content-center"
          >
            <h3 clas="">{{ store.addkaryawanerr }}</h3>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-column align-items-center form-group">
              <label for="foto" class="control-label col-form-label"
                >Foto Aset</label
              >
              <div class="mb-4 mt-2 text-center">
                <img
                  width="300"
                  height="200"
                  class="border-c-2"
                  v-if="store?._foto"
                  :src="PhotoPath + store?._foto"
                />
                <img
                  v-else
                  width="300"
                  height="200"
                  class="border-c-2"
                  src="../../assets/imgdefault.jpg"
                />
              </div>

              <div class="row text-center">
                <div class="flex">
                  <div>
                    <input
                      type="file"
                      class="w-75 customfile"
                      @change="imageUpload3"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >Username</label
              >
              <div class="">
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  placeholder="Masukkan Username"
                  v-model="store._username"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="tglmsk" class="control-label col-form-label"
                >Tanggal Ditambahkan</label
              >
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text h-100"
                    ><i class="mdi mdi-calendar">Date</i></span
                  >
                </div>
                <div class="form-control control-datepicker">
                  <datepicker
                    class="form-control-datepicker"
                    v-model.sync="store._tgllahir"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Jenis Kelamin</label
              >
              <div class="">
                <Select2
                  v-model="store._jnskelamin"
                  :options="jeniskelamin"
                  placeholder="--Pilih Jenis Kelamin--"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >No Identitas</label
              >
              <div class="">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Masukkan Nomor Identitas"
                  v-model="store._nik"
                  :required="true"
                  :aria-required="true"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >Email</label
              >
              <div class="">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Masukkan Email"
                  v-model="store._email"
                  :required="true"
                  :aria-required="true"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >Telepon</label
              >
              <div class="">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Masukkan Telepon"
                  v-model="store._notelp"
                  :required="true"
                  :aria-required="true"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="tglmsk" class="control-label col-form-label"
                >Tanggal Ditambahkan</label
              >
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text h-100"
                    ><i class="mdi mdi-calendar">Date</i></span
                  >
                </div>
                <div class="form-control control-datepicker">
                  <datepicker
                    class="form-control-datepicker"
                    v-model.sync="store._tglpkwt"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Cabang</label
              >
              <div class="">
                <Select2
                  v-model="store._cabang"
                  :options="store.DataCab"
                  placeholder="--Pilih Cabang--"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Jabatan</label
              >
              <div class="">
                <Select2
                  v-model="store._jabatan"
                  :options="store.DataJab"
                  placeholder="--Pilih Jabatan--"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="tglmsk" class="control-label col-form-label"
                >Expired Date</label
              >
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text h-100"
                    ><i class="mdi mdi-calendar">Date</i></span
                  >
                </div>
                <div class="form-control control-datepicker">
                  <datepicker
                    class="form-control-datepicker"
                    v-model.sync="store._tglexp"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Status</label
              >
              <div class="">
                <Select2
                  v-model="store._status"
                  :options="statuskaryawan"
                  placeholder="--Pilih Status--"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Fitur :</label
              >
              <div class="">
                <Select2
                  v-model="store._fitur"
                  :options="cobaAja"
                  placeholder="--Pilih Fitur--"
                />
              </div>
              <btn
                @click="addFiturClick"
                v-if="store._fitur"
                class="btn btn-md btn-success w-100 mt-2"
                >Add Fitur</btn
              >
            </div>

            <div class="">
              <label for="fname" class="control-label col-form-label"
                >Fitur yang Ada:
              </label>
              <div class="p-2 bg-gray-300 border-2 border-gray-400 rounded-md">
                <div
                  class="flex justify-between mt-2"
                  v-for="data in store._DataFiturSudah"
                  v-bind:key="data"
                  v-bind:user="data"
                >
                  <h6>{{ data.fitur }}</h6>
                  <button
                    @click="deletefitur(data.id)"
                    class="px-2 py-1 bg-gray-500 rounded-md text-white"
                  >
                    Delete Fitur
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <hr />

        <!-- section data alamat -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >Alamat KTP</label
              >
              <div class="">
                <textarea
                  type="text"
                  class="form-control"
                  placeholder="Masukkan Alamat KTP"
                  v-model="store._alamatktp"
                  :required="true"
                  :aria-required="true"
                ></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Provinsi KTP</label
                  >
                  <div class="">
                    <Select2
                      v-model="store._provinsiktp"
                      :options="store.provinsi"
                      placeholder="--Pilih Provinsi--"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Kecamatan KTP</label
                  >
                  <div class="">
                    <Select2
                      v-model="store._kecamatanktp"
                      :options="store.kecamatan"
                      placeholder="--Pilih Kecamatan--"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Kab/Kota KTP</label
                  >
                  <div class="">
                    <Select2
                      v-model="store._kabupatenktp"
                      :options="store.kabupaten"
                      placeholder="--Pilih Kabupaten/Kota--"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Keluarahan KTP</label
                  >
                  <div class="">
                    <Select2
                      v-model="store._kelurahanktp"
                      :options="store.kelurahan"
                      placeholder="--Pilih Kelurahan--"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >Alamat Domisili</label
              >
              <div class="">
                <textarea
                  type="text"
                  class="form-control"
                  placeholder="Masukkan Alamat Domisili"
                  v-model="store._alamatdom"
                  :required="true"
                  :aria-required="true"
                ></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Provinsi KTP</label
                  >
                  <div class="">
                    <Select2
                      v-model="store._provinsidom"
                      :options="store.provinsi"
                      placeholder="--Pilih Provinsi--"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Kecamatan DOM</label
                  >
                  <div class="">
                    <Select2
                      v-model="store._kecamatandom"
                      :options="store.kecamatan"
                      placeholder="--Pilih Kecamatan--"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Kab/Kota DOM</label
                  >
                  <div class="">
                    <Select2
                      v-model="store._kabupatendom"
                      :options="store.kabupaten"
                      placeholder="--Pilih Kabupaten/Kota--"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Keluarahan DOM</label
                  >
                  <div class="">
                    <Select2
                      v-model="store._kelurahandom"
                      :options="store.kelurahan"
                      placeholder="--Pilih Kelurahan--"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- password -->
        <br />
        <hr />
        <div class="col-md-6">
          <div class="form-group">
            <label for="fname" class="control-label col-form-label"
              >Password</label
            >
            <div class="">
              <input
                type="password"
                class="form-control"
                placeholder="Masukkan Password"
                v-model="store._password"
                :required="true"
                :aria-required="true"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="fname" class="control-label col-form-label"
              >Password Baru</label
            >
            <div class="">
              <input
                type="password"
                class="form-control"
                placeholder="Masukkan Password Baru"
                v-model="store.passbaru"
                :required="true"
                :aria-required="true"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="card-body float-end">
        <router-link :to="'/viewkaryawan'" class="btn btn-danger">
          Kembali
        </router-link>
        <button
          type="button"
          class="btn btn-success text-white"
          style="margin-left: 10px"
          @click="updatekaryawan()"
        >
          Simpan
        </button>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import md5 from "md5";
// import Vue from 'vue'
import VueCookies from "vue-cookies";
import Select2 from "vue3-select2-component";
import Datepicker from "vue3-datepicker";
import VueSweetalert2 from "vue-sweetalert2";
import { useTaskStore } from "../../stores/TaskStore";
export default {
  name: "EditKaryawanPage",
  components: { Select2, Datepicker },
  data() {
    return {
      store: useTaskStore(),
      PhotoPath: process.env.VUE_APP_PHOTO_URL,
      Token: this.$cookies.get("user").token,
      api: process.env.VUE_APP_API_URL,
      jeniskelamin: ["Laki laki", "Perempuan"],
      statuskaryawan: ["Aktif", "Nonaktif"],
      id: this.$route.params.id,
    };
  },
  computed: {
    cobaAja() {
      return this.store._DataFiturBelum.filter(
        (da) => da.kategori_karyawan === this.store.kategorikaryawan
      );
    },
  },
  methods: {
    async updatekaryawan() {
      await this.store.updateDataKaryawan(this.id);
      if (this.store.succes == true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Ditambahkan",
          showConfirmButton: false,
          timer: 1500,
        });
        this.store.clearStateKaryawan();
        this.$router.push("/viewkaryawan");
      }
    },

    async addFiturClick() {
      await this.store.addfitur(this.id);
      if (this.store.succes === true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Fitur Berhasil Ditambahkan",
          showConfirmButton: false,
          timer: 1500,
        });
        this.store.refreshDataFitur(this.id);
      }
    },

    deletefitur(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          this.store.deletefitur(id);
          // console.log(this.store._DataFiturSudah);
          this.$swal("Deleted!", "Fitur Berhasil Dihapus", "success");
          this.store.refreshDataFitur(this.id);
        }
      });
    },

    imageUpload3(event) {
      let formData = new FormData();
      formData.append("file", event.target.files[0]);
      this.store.imgupload(formData, this.Token);
    },

    // filterdata(){
    //   this.store.loadData()
    // }
  },

  mounted: function () {
    this.store.getallselect();
    this.store.getdatakaryawan(this.id, this.Token);
    this.store.refreshDataFitur(this.id);
  },
};
</script>
