<template>
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Tambah Fitur ke Karyawan</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <!-- <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol> -->
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card r-4">
          <div class="card-body">
            <h5 class="card-title mb-0">Detail Karyawan</h5>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="nhp" class="control-label col-form-label"
                >Daftar Fitur</label
              >
              <div>
                <Select2
                  v-model="Fitur"
                  :options="store.DataFiturBelum"
                  placeholder="--Pilih Fitur--"
                  @select="mySelectEvent($event)"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >Nama</label
              >
              <div class="">
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  placeholder="Contoh Nama"
                  :value="store.Nama + ' - ' + store.Nhp"
                  disabled
                />
              </div>
            </div>
            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >Jabatan - Cabang</label
              >
              <div class="">
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  placeholder="Contoh Nama"
                  :value="store.Jabatan + ' - ' + store.Cabang"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="border-top">
            <div class="card-body float-end">
              <button
                type="button"
                class="btn btn-primary r-4"
                @click="addFiturClick()"
              >
                Tambah Fitur
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card r-8">
          <div class="card-body">
            <h5 class="card-title mb-0">Daftar Fitur yang Ditambahkan</h5>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                    <b>Nama Fitur</b>
                  </th>
                  <th scope="col" width="35%">
                    <b>Action</b>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="ftr in store.DataFiturSudah"
                  v-bind:key="ftr"
                  v-bind:ftr="ftr"
                >
                  <td>{{ ftr.nama_fitur }}</td>
                  <td>
                    <button
                      class="btn btn-danger r-6"
                      @click="deleteFiturClick(ftr.id)"
                    >
                      <i class="mdi mdi-delete"></i> Hapus
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="border-top">
            <div class="card-body float-end">
              <!-- <a href="/fitur">
                      <div class="btn btn-danger r-4">Kembali</div>
                    </a> -->
              <router-link to="/fitur" class="btn btn-danger r-4"
                >Kembali</router-link
              >
              <!-- <button
                      type="button"
                      class="btn btn-success text-white r-4"
                    >
                      Submit
                    </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import md5 from "md5";
// import Vue from 'vue'
import VueCookies from "vue-cookies";
import Select2 from "vue3-select2-component";
import Datepicker from "vue3-datepicker";
import { useTaskStore } from "../../stores/TaskStore";

export default {
  name: "KaryawanFiturPage",
  components: { Select2, Datepicker },
  data() {
    return {
      Fitur: "",
      Token: this.$cookies.get("user").token,
      id: this.$route.params.id,
      store: useTaskStore(),
    };
  },
  methods: {
 
    mySelectEvent({ id, text }) {
      console.log({ id, text });
    },
    async addFiturClick() {
      const data = {
        id_fitur: this.Fitur,
        id_karyawan: this.id,
      };
  
      const res = this.store.addfitur(data, this.Token);
      this.$swal({
        position: "center",
        icon: "success",
        title: "Data Berhasil Ditambahkan",
        showConfirmButton: false,
        timer: 1500,
      });
      this.store.refreshDataFitur(this.id, this.Token);
    },
    async deleteFiturClick(id) {    
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          this.store.deletefitur(id, this.Token);
          this.store.refreshDataFitur(this.id, this.Token);
          this.$swal("Deleted!", "Data Berhasil Dihapus", "success");
        }
      });
    },
  },
  mounted: function () {
    this.store.refreshDataFitur(this.id, this.Token);
    // this.refreshData();
    // console.log(this.id);
    // datepicker
    // jQuery("#datepicker-autoclose").datepicker({
    //     autoclose: true,
    //     todayHighlight: true,
    //     dateFormat: "yyyy-mm-dd",
    //     format: 'yyyy-mm-dd'
    //   });
    // $(".select2").select2();
  },
};
// // datepicker
// jQuery("#datepicker-autoclose").datepicker({
//     autoclose: true,
//     todayHighlight: true,
//     dateFormat: "d MM, yy",
//   });
//   $(".select2").select2();
</script>
