<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Karyawan</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>
  <!-- content -->
  <div class="container-fluid mt-2">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Perbantuan Karyawan</h3>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Cabang Bantuan :</label
              >
              <div class="">
                <Select2
                  v-model="store.cabangperbantuan"
                  :options="store.DataCab"
                  placeholder="--Pilih Cabang--"
                  @select="mySelectEvent($event)"
                />
              </div>
            </div >
            <h6 v-for="data in store.errormessagetgl" :key="data"
              class="text-danger"
            >
            Tanggal <b>{{ data }}</b>  Ini Sudah Ada *
            </h6>
            <div class="form-group">
              <label for="tglmsk" class="control-label col-form-label"
                >Waktu :</label
              >
              <VueDatePicker 
                multi-dates
                v-model="store.dates_perbantuan"
                :enable-time-picker="false"
              />
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Jabatan :</label
              >
              <div class="">
                <Select2
                  v-model="store.jabatanperbantuan"
                  :options="store.DataJab"
                  placeholder="--Pilih Jabatan--"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Fitur :</label
              >
              <div class="">
                <Select2
                  v-model="store.fiturperbantuan"
                  :options="daftarFitur"
                  placeholder="--Pilih Fitur--"
                  @select="mySelectEvent($event)"
                />
              </div>

              <button
                @click="addFiturClick"
                v-if="
                  !store.IdFiturPilihan.includes(idFitur) &&
                  store.fiturperbantuan
                "
                class="btn btn-md btn-success w-100 mt-2"
              >
                Add Fitur
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="">
              <label for="fname" class="control-label col-form-label"
                >Fitur yang ditambahkan:
              </label>
              <div class="p-2 bg-gray-300 border-2 border-gray-400 rounded-md">
                <div
                  class="flex justify-between mt-2"
                  v-for="data in store.FiturPilihan"
                  v-bind:key="data"
                  v-bind:user="data"
                >
                  <h6>{{ data.text }}</h6>
                  <button
                    @click="deletefitur(data.id)"
                    class="px-2 py-1 bg-gray-500 rounded-md text-white"
                  >
                    Delete Fitur
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body float-end">
        <router-link :to="'/viewkaryawan'" class="btn btn-danger">
          Kembali
        </router-link>
        <button
          v-if="
            store.cabangperbantuan &&
            store.dates_perbantuan &&
            store.jabatanperbantuan &&
            store.FiturPilihan.length > 0
          "
          type="button"
          class="btn btn-success text-white"
          style="margin-left: 10px"
          @click="addperbantuankaryawan()"
        >
          Simpan
        </button>
        <button
          v-else
          type="button"
          class="btn btn-success text-white"
          style="margin-left: 10px"
          disabled
        >
          Simpan
        </button>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import md5 from "md5";
// import Vue from 'vue'
import VueCookies from "vue-cookies";
import Select2 from "vue3-select2-component";
import Datepicker from "vue3-datepicker";
import VueDatePicker from "@vuepic/vue-datepicker";
import { useTaskStore } from "../../stores/TaskStore";

import moment from "moment";
export default {
  name: "PerbantuanKaryawan",
  components: { Select2, VueDatePicker },
  data() {
    return {
      store: useTaskStore(),    
      PhotoPath: process.env.VUE_APP_PHOTO_URL,
      Token: this.$cookies.get("user").token,
      api: process.env.VUE_APP_API_URL,
      jeniskelamin: ["Laki laki", "Perempuan"],
      statuskaryawan: ["Aktif", "Nonaktif"],
      id: this.$route.params.id,
      id_fitur: [],
      nameFitur: "",
      idFitur: "",
      DatePickerFormat: "dd/MM/yyyy",
    };
  },

  computed: {
    daftarFitur() {
      return this.store._allfiturs.filter(
        (da) => da.jabatan === this.store.jabatanperbantuan
      );
    },
   
  },

  methods: {
    mySelectEvent({ id, text }) {
      this.nameFitur = text;
      this.idFitur = id;
    
    },
    formattedDate(data) {
      return moment(data).format("YY-MM-DD");
    },
   
    addFiturClick() {
      this.store.IdFiturPilihan.push(this.idFitur);
      this.store.FiturPilihan.push({ text: this.nameFitur, id: this.idFitur });
      let data = this.store._allfiturs.findIndex(
        (item) => item.id === this.idFitur
      );
      if (data !== -1) {
        this.store._allfiturs.splice(data, 1);
      }
      this.store.fiturperbantuan = "";
    },
    deletefitur(id) {
      let data2 = this.store.IdFiturPilihan.findIndex((item) => item === id);
      let data = this.store.FiturPilihan.findIndex((item) => item.id === id);
      if (data !== -1 && data2 !== -1) {
        this.store.IdFiturPilihan.splice(data2, 1);
        this.store.FiturPilihan.splice(data, 1);
      }
    },
    async addperbantuankaryawan() {
      await this.store.addperbantuan(this.id);
      if (this.store.succes == true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Ditambahkan",
          showConfirmButton: false,
          timer: 1500,
        });
        this.$router.push("/viewkaryawan");
        this.store.getfiturperbantuan(this.id);
      }
    },
  },

  mounted: function () {
    this.store.checkPerbantuan(this.id);
    this.store.emptyPerbantuan();
    this.store.getfiturperbantuan(this.id);
    this.store.getallperbantuanselect();
  },
};
</script>
