<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Karyawan</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <!-- content -->
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4 card-success card-outline ">
          <div class="p-7 d-flex justify-content-between items-center">
            <div class="d-flex flex-column gap-2">
              <h5 class="card-title mb-0">List Data Karyawan</h5>
              <input class="border-2 w-100 p-2" type="text" v-model="search" placeholder="Searching by Username" />
            </div>
            <div class="d-flex justify-content-end">
              <router-link :to="'/addkaryawan'" class="btn btn-info">
                <i class="mdi mdi-account-edit"></i> Tambah Karyawan
              </router-link>
            </div>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-10 control-label col-form-label">Id Karyawan</label>

                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-10 control-label col-form-label">Username</label>

                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-12 control-label col-form-label">KTP</label>
                    </div>
                  </th>

                  <th>
                    <div class="form-group">
                      <label for="fname" class="col-sm-8 control-label col-form-label">Status</label>
                    </div>
                  </th>

                  <th>
                    <div class="form-group">
                      <label for="fname" class="col-sm-8 control-label col-form-label">Cabang Utama</label>
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <label for="fname" class="col-sm-10 control-label col-form-label">Action</label>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody v-if="search">
                <tr v-for="user in Filterdata" v-bind:key="user" v-bind:user="user">
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.nik }}</td>
                  <td>
                    <p v-if="user.status === 1">Activate</p>
                    <p v-else>Not Ativate</p>
                  </td>
                  <td>{{ user.cabang }}</td>

                  <td class="gap-2 d-flex flex-col">
                    <router-link :to="'/detailkaryawan/' + user.id" class="btn btn-primary btn-md"><i
                        class="mdi mdi-account-edit"></i>Detail
                      Karyawan</router-link>

                    <router-link :to="'/editkaryawan/' + user.id" class="btn btn-warning btn-md"><i
                        class="mdi mdi-account-edit"></i>Edit
                      Karyawan</router-link>

                    <!-- <i class="mdi mdi-account-edit"></i>
                          </button> -->
                    <!-- <button class="btn btn-danger r-6">
                            <i class="mdi mdi-delete"></i>
                          </button> -->
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr v-for="user in paginatedData" v-bind:key="user" v-bind:user="user">
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.nik }}</td>
                  <td>
                    <p v-if="user.status === 1">Activate</p>
                    <p v-else>Not Ativate</p>
                  </td>
                  <td>{{ user.cabang }}</td>

                  <td class="gap-2 d-flex flex-col">
                    <router-link :to="'/detailkaryawan/' + user.id" class="btn btn-primary btn-md"><i
                        class="mdi mdi-account-edit"></i>Detail
                      Karyawan</router-link>

                    <router-link :to="'/editkaryawan/' + user.id" class="btn btn-warning btn-md"><i
                        class="mdi mdi-account-edit"></i>Edit
                      Karyawan</router-link>

                    <!-- <i class="mdi mdi-account-edit"></i>
                          </button> -->
                    <!-- <button class="btn btn-danger r-6">
                            <i class="mdi mdi-delete"></i>
                          </button> -->
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="6">
                    <div class="card-body float-end">
                      <div class="pagination">
                        <vue-awesome-paginate :items-per-page="perPage" :maxPagesShown="3" v-model="currentPage"
                          :total-items="30">
                          <template #prev-button>
                            <span> Previous </span>
                          </template>
                          <template #next-button>
                            <span> Next </span>
                          </template>
                        </vue-awesome-paginate>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
/* eslint-disable */
import axios from "axios";
import md5 from "md5";
// import Vue from 'vue'
import VueCookies from "vue-cookies";
import Select2 from "vue3-select2-component";
import Datepicker from "vue3-datepicker";
import VueSweetalert2 from "vue-sweetalert2";
import { useTaskStore } from "../../stores/TaskStore";
export default {
  name: "ViewkaryawanPage",
  components: { Select2, Datepicker },
  data() {
    return {
      store: useTaskStore(),
      PhotoPath: process.env.VUE_APP_PHOTO_URL,
      Token: this.$cookies.get("user").token,
      api: process.env.VUE_APP_API_URL,
      perPage: 8,
      search: "",
    };
  },

  setup() {
    const currentPage = ref(1);
    return {
      currentPage,
    };
  },
  computed: {
    totalData() {
      return this.store.DataUserFitur.length;
    },
    paginatedData() {
      // Calculate the index of the first and last item to display based on the current page and the number of items per page
      const startIndex = (this.currentPage - 1) * this.perPage;
      const endIndex = startIndex + this.perPage;
      // Return a subset of the people array that corresponds to the current page
      return this.store.DataUserFitur.slice(startIndex, endIndex);
    },
    Filterdata() {
      return this.store.DataUserFitur.filter((item) =>
        item.username
          .toString()
          .toLowerCase()
          .includes(this.search.toString().trim().toLowerCase())
      );
    },
  },

  methods: {},
  mounted: function () {

    this.store.refreshData(this.Token);
  },
};
</script>
