<template>
  <div class="page-breadcrumb pt-3"></div>

  <!-- add lingkup kerja -->

  <div class="modal fade" id="modaladd">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Grup</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <button
              v-if="store.lingkupkerja"
              @click="addLingkupKerja"
              class="btn btn-primary w-100"
            >
              Tambah
            </button>
            <div class="row">
              <div class="col-md-12">
                <div
                  v-if="store.addaktivitaserr"
                  class="alert alert-danger w-100 d-flex justify-content-center"
                >
                  <h3 clas="">{{ store.addaktivitaserr }}</h3>
                </div>

                <div class="form-group">
                  <label for="fname" class="control-label col-form-label"
                    >Tambah Lingkup Kerja</label
                  >
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      id="fname"
                      placeholder="Nama"
                      v-model="store.lingkupkerja"
                    />
                  </div>
                </div>
              </div>

              <div
                v-for="data in store.allLingkupKerja"
                v-bind:key="data"
                v-bind:grup="data"
                class="col-md-12 bg-muted gap-2 w-100"
              >
                <div
                  class="d-flex justify-content-between bg-secondary border-2"
                >
                  <h6 class="p-2">{{ data.lingkup_kerja }}</h6>
                  <button class="btn btn-md btn-danger" @click="deleteOneLingkup(data.id)">Hapus</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="button" @click="updateAktivitasAset" class="btn btn-success">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- content -->
  <div class="container-fluid mt-2">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Edit Aktivitas Aset</h3>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >ID Aset</label
              >
              <div class="">
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  placeholder="Masukkan Nama Aset"
                  v-model="store.id_aset"
                  disabled
                />
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Nama Aset</label
              >
              <div class="">
                <input
                  class="form-control"
                  placeholder="Masukkan Lokasi Aset"
                  rows="3"
                  v-model="store.nama_aset"
                  disabled
                />
              </div>
            </div>
            <br />
            <hr />

            <div class="form-group">
              <label for="tglmsk" class="control-label col-form-label"
                >Tanggal Expired</label
              >
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text h-100"
                    ><i class="mdi mdi-calendar">Date</i></span
                  >
                </div>
                <div class="form-control control-datepicker">
                  <datepicker
                    class="form-control-datepicker w-100 outline-none"
                    v-model.sync="store.exp_date"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Aktivitas</label
              >
              <div class="">
                <Select2
                  v-model="store.status_aktivitas"
                  :options="status"
                  placeholder="--Pilih Status--"
                  @select="mySelectEvent($event)"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >Keterangan</label
              >
              <div class="">
                <textarea
                  type="text"
                  class="form-control"
                  id="fname"
                  placeholder="Masukkan Keterangan"
                  v-model="store.keterangan_aktivitas"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="foto" class="control-label col-form-label"
                >Foto Aset</label
              >
              <div class="mb-4 mt-2 text-center">
                <img
                  v-if="store.foto_aktivitasaset"
                  width="300"
                  height="200"
                  class="border-c-2"
                  :src="PhotoPath + store?.foto_aktivitasaset"
                />
                <img
                  v-else
                  width="300"
                  height="200"
                  class="border-c-2"
                  src="../../assets/imgdefault.jpg"
                />
              </div>
              <div class="row text-center">
                <div class="flex">
                  <div>
                    <input
                      type="file"
                      class="w-75 customfile"
                      @change="imgupload"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Aktivitas</label
              >
              <div class="">
                <Select2
                  v-model="store.id_aktivitas"
                  :options="store.aktivitasasetDropDown"
                  placeholder="--Pilih Aktivitas--"
                  @select="mySelectEvent($event)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body float-end">
        <router-link :to="'/aset'" class="btn btn-danger">
          Kembali
        </router-link>
        <button
          v-if="store.id_aktivitas"
          type="button"
          class="btn btn-success text-white"
          style="margin-left: 10px"
          @click="showModalAdd"
        >
          Simpan
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Datepicker from "vue3-datepicker";

import Select2 from "vue3-select2-component";
export default {
  name: "EditAktivitasAset",
  components: { Select2, Datepicker },
  data() {
    return {
      store: useTaskStore(),
      coba: "",
      PhotoPath: process.env.VUE_APP_PHOTO_URL,
      status: ["Avilable", "Expired"],
      id: this.$route.params.id,
    };
  },

  methods: {
    mySelectEvent({ id, text }) {
      //   console.log(this.store.id_grupaset);
    },
    showModalAdd() {
      $("#modaladd").modal("show");
      this.store.getLingkupKerja();
    },

    async addLingkupKerja() {
      await this.store.addLingkupKerja();
      this.store.getLingkupKerja();
    },

    async updateAktivitasAset() {
      await this.store.updateAktivitasAset(this.id);
      if (this.store.succes === true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Diubah",
          showConfirmButton: false,
          timer: 1500,
        });
      }
      $("#modaladd").modal("hide");
      this.$router.push("/aset");
    },
    async deleteOneLingkup(id){
      await this.store.deleteOneLingkup(id)
      if (this.store.succes === true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Dihapus",
          showConfirmButton: false,
          timer: 1500,
        });
      }
      this.store.getLingkupKerja();
    },
    imgupload(event) {
      let formData = new FormData();
      formData.append("file", event.target.files[0]);
      this.store.imgupload(formData);
    },
  },
  mounted: function () {

    this.store.getOneAktivitasAset(this.id)
    this.store.getSelectAktivitasAset();
  },
};
</script>
