<template>
  <div class="page-breadcrumb pt-2">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Aktivitas</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <!-- <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Library
                      </li>
                    </ol> -->
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- add modal section -->

  <div class="modal fade" id="modaladd">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Aktivitas</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div
                  v-if="store.addaktivitaserr"
                  class="alert alert-danger w-100 d-flex justify-content-center"
                >
                  <h3 clas="">{{ store.addaktivitaserr }}</h3>
                </div>

                <div class="form-group">
                  <label for="fname" class="control-label col-form-label"
                    >Nama Aktivitas</label
                  >
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      id="fname"
                      placeholder="Nama"
                      v-model="store.nama_aktivitas"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Grup</label
                  >
                  <div class="">
                    <Select2
                      class="www"
                      :settings="{ width: '25%' }"
                      v-model="store.grupselect"
                      :options="store.aktivitasgrup"
                      placeholder="--Pilih Aktivitas--"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Jabatan</label
                  >
                  <div class="">
                    <Select2
                      :settings="{ width: '25%' }"
                      class="www"
                      v-model="store.jabatanselect"
                      :options="store.aktivitasjabatan"
                      placeholder="--Pilih Jabatan--"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Keterangan</label
                  >
                  <div class="">
                    <textarea
                      class="form-control"
                      rows="3"
                      v-model="store.keterangan"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="button" @click="addaktivitas" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- edit modal section -->
  <div class="modal fade" id="modaledit">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Aktivitas</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div
                  v-if="store.addaktivitaserr"
                  class="alert alert-danger w-100 d-flex justify-content-center"
                >
                  <h3 clas="">{{ store.addaktivitaserr }}</h3>
                </div>

                <div class="form-group">
                  <label for="fname" class="control-label col-form-label"
                    >Nama Aktivitas</label
                  >
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      id="fname"
                      placeholder="Nama"
                      v-model="store.nama_aktivitas"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Grup</label
                  >
                  <div class="">
                    <Select2
                      class="www"
                      :settings="{ width: '25%' }"
                      v-model="store.grupselect"
                      :options="store.aktivitasgrup"
                      placeholder="--Pilih Aktivitas--"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Jabatan</label
                  >
                  <div class="">
                    <Select2
                      :settings="{ width: '25%' }"
                      class="www"
                      v-model="store.jabatanselect"
                      :options="store.aktivitasjabatan"
                      placeholder="--Pilih Jabatan--"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Keterangan</label
                  >
                  <div class="">
                    <textarea
                      class="form-control"
                      rows="3"
                      v-model="store.keterangan"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="button" @click="updateaktivitas" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- tabel section -->
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4">
          <div class="card-body items-center">
            <h5 class="card-title mb-0">List Data Aktivitas</h5>
            <div class="d-flex justify-content-end">
              <button @click="showmodaladd" class="btn btn-info">
                <i class="mdi mdi-account-edit"></i> Tambah Aktivitas
              </button>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Nama Aktivitas</label
                      >
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Keterangan</label
                      >
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Nama Grup</label
                      >
                    </div>
                  </th>

                  <th width="20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-6 control-label col-form-label"
                        >Action</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="akti in store.aktivitas"
                  v-bind:key="akti"
                  v-bind:aktivitas="akti"
                >
                  <td>{{ akti.nama_aktivitas }}</td>
                  <td>{{ akti.keterangan }}</td>
                  <td>{{ akti.name_grupaset }}</td>
                  <td class="">
                    <button
                      @click="showmodal(akti.id)"
                      class="btn btn-warning r-6 mr-3"
                    >
                      Update
                    </button>
                    <!-- <button
                      @click="deleteaset(akti.id)"
                      class="btn btn-danger r-6"
                    >
                      Delete
                    </button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Select2 from "vue3-select2-component";
export default {
  name: "ViewAktivitasPage",
  components: { Select2 },
  data() {
    return {
      store: useTaskStore(),
      id_edit: "",
    };
  },

  methods: {
    async showmodaladd() {
      await this.store.getgrupinaktivitas();
      this.store.emptyaktivitas();
      $("#modaladd").modal("show");
    },
    async showmodal(id) {
      this.id_edit = id;
      await this.store.getgrupinaktivitas();
      this.store.getoneaktivitas(id);
      $("#modaledit").modal("show");
    },
    async addaktivitas() {
      await this.store.addaktivitas();
      if (this.store.succes === true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Ditambahkan",
          showConfirmButton: false,
          timer: 1500,
        });
        this.store.getaktivitas();
        $("#modaladd").modal("hide");
      }
    },

    async updateaktivitas() {
      await this.store.updateaktivitas(this.id_edit);
      if (this.store.succes === true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Diubah",
          showConfirmButton: false,
          timer: 1500,
        });
        this.store.getaktivitas();
        $("#modaledit").modal("hide");
      }
    },
    deleteaktivitas(id) {
      console.log(id);
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          this.store.deleteaktivitas(id);
          this.$swal("Deleted!", "Data Berhasil Dihapus", "success");
          this.store.getaktivitas();
        }
      });
    },
  },
  mounted: function () {
    this.store.getaktivitas();
  },
};
</script>
