<template>
  <!-- <DashboardPage /> -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Department</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
         
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4">
          <div class="card-body">
            <div>
              <button
                type="button"
                class="btn btn-primary m-2 fload-end"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                @click="addClick()"
              >
                Add Department
              </button>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      <div class="d-flex flex-row">
                        <input
                          class="form-control m-2"
                          v-model="DepartmentIdFilter"
                          v-on:keyup="FilterFn()"
                          placeholder="Filter ID"
                        />

                        <button
                          type="button"
                          class="btn btn-light"
                          @click="sortResult('DepartmentId', true)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-down-square-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"
                            />
                          </svg>
                        </button>

                        <button
                          type="button"
                          class="btn btn-light"
                          @click="sortResult('DepartmentId', false)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-up-square-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"
                            />
                          </svg>
                        </button>
                      </div>
                      Department ID
                    </th>
                    <th>
                      <div class="d-flex flex-row">
                        <input
                          class="form-control m-2"
                          v-model="DepartmentNameFilter"
                          v-on:keyup="FilterFn()"
                          placeholder="Filter Name"
                        />

                        <button
                          type="button"
                          class="btn btn-light"
                          @click="sortResult('DepartmentName', true)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-down-square-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"
                            />
                          </svg>
                        </button>

                        <button
                          type="button"
                          class="btn btn-light"
                          @click="sortResult('DepartmentName', false)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-up-square-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"
                            />
                          </svg>
                        </button>
                      </div>
                      Department Name
                    </th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="dep in departments"
                    v-bind:key="dep"
                    v-bind:dep="dep"
                  >
                    <td>{{ dep.DepartmentId }}</td>
                    <td>{{ dep.DepartmentName }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-light mr-1"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        @click="editClick(dep)"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-pencil-square"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                          />
                          <path
                            fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                          />
                        </svg>
                      </button>
                      <button
                        type="button"
                        @click="deleteClick(dep.DepartmentId)"
                        class="btn btn-light mr-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-trash-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                          />
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        {{ modalTitle }}
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>

                    <div class="modal-body">
                      <div class="input-group mb-3">
                        <span class="input-group-text">Department Name</span>
                        <input
                          type="text"
                          class="form-control"
                          v-model="DepartmentName"
                        />
                      </div>

                      <button
                        type="button"
                        @click="createClick()"
                        v-if="DepartmentId == 0"
                        class="btn btn-primary"
                      >
                        Create
                      </button>
                      <button
                        type="button"
                        @click="updateClick()"
                        v-if="DepartmentId != 0"
                        class="btn btn-primary"
                      >
                        Update
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import VueCookies from "vue-cookies";
// import DashboardPage from './DashboardPage.vue';
// import $ from 'jquery'
export default {
  name: "DepartmentPage",
  data() {
    return {
      departments: [],
      modalTitle: "",
      DepartmentName: "",
      DepartmentId: 0,
      DepartmentIdFilter: "",
      DepartmentNameFilter: "",
      departmentsWithoutFilter: [],
      user: this.$cookies.get("user").id,
      Token: this.$cookies.get("token"),
    };
  },
  methods: {
    refreshData() {
      axios.get(variables.REP_URL + "department").then((response) => {
        this.departments = response.data;
        this.departmentsWithoutFilter = response.data;
        console.log(response);
        console.log(this.user);
      });
    },
    addClick() {
      this.modalTitle = "Add Department";
      this.DepartmentId = 0;
      this.DepartmentName = "";
    },
    editClick(dep) {
      this.modalTitle = "Edit Department";
      this.DepartmentId = dep.DepartmentId;
      this.DepartmentName = dep.DepartmentName;
    },
    createClick() {
      axios
        .post(variables.REP_URL + "department", {
          DepartmentName: this.DepartmentName,
        })
        .then((response) => {
          this.refreshData();
          alert(response.data);
          $("#exampleModal").modal("hide");
        });
    },
    updateClick() {
      axios
        .put(variables.REP_URL + "department", {
          DepartmentId: this.DepartmentId,
          DepartmentName: this.DepartmentName,
        })
        .then((response) => {
          this.refreshData();
          alert(response.data);
          $("#exampleModal").modal("hide");
        });
    },
    deleteClick(id) {
      if (!confirm("Are you sure?")) {
        return;
      }
      axios.delete(variables.REP_URL + "department/" + id).then((response) => {
        this.refreshData();
        alert(response.data);
      });
    },
    FilterFn() {
      var DepartmentIdFilter = this.DepartmentIdFilter;
      var DepartmentNameFilter = this.DepartmentNameFilter;

      this.departments = this.departmentsWithoutFilter.filter(function (el) {
        return (
          el.DepartmentId.toString()
            .toLowerCase()
            .includes(DepartmentIdFilter.toString().trim().toLowerCase()) &&
          el.DepartmentName.toString()
            .toLowerCase()
            .includes(DepartmentNameFilter.toString().trim().toLowerCase())
        );
      });
    },
    sortResult(prop, asc) {
      this.departments = this.departmentsWithoutFilter.sort(function (a, b) {
        if (asc) {
          return a[prop] > b[prop] ? 1 : a[prop] < b[prop] ? -1 : 0;
        } else {
          return b[prop] > a[prop] ? 1 : b[prop] < a[prop] ? -1 : 0;
        }
      });
    },
  },
  mounted: function () {
    this.refreshData();
  },
  // components: { DashboardPage }
};
</script>
