<template>
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Employee</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <!-- <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol> -->
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4">
          <div class="card-body">
            <div>
              <button
                type="button"
                class="btn btn-primary m-2 fload-end"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                @click="addClick()"
              >
                Add Employee
              </button>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      <div class="d-flex flex-row">
                        <input
                          class="form-control m-2"
                          v-model="EmployeeIdFilter"
                          v-on:keyup="FilterFn()"
                          placeholder="Filter ID"
                        />

                        <button
                          type="button"
                          class="btn btn-light"
                          @click="sortResult('EmployeeId', true)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-down-square-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"
                            />
                          </svg>
                        </button>

                        <button
                          type="button"
                          class="btn btn-light"
                          @click="sortResult('EmployeeId', false)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-up-square-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"
                            />
                          </svg>
                        </button>
                      </div>
                      Employee ID
                    </th>
                    <th>
                      <div class="d-flex flex-row">
                        <input
                          class="form-control m-2"
                          v-model="EmployeeNameFilter"
                          v-on:keyup="FilterFn()"
                          placeholder="Filter Name"
                        />

                        <button
                          type="button"
                          class="btn btn-light"
                          @click="sortResult('EmployeeName', true)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-down-square-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"
                            />
                          </svg>
                        </button>

                        <button
                          type="button"
                          class="btn btn-light"
                          @click="sortResult('EmployeeName', false)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-up-square-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"
                            />
                          </svg>
                        </button>
                      </div>
                      Employee Name
                    </th>
                    <th>
                      <div class="d-flex flex-row">
                        <input
                          class="form-control m-2"
                          v-model="DepartmentFilter"
                          v-on:keyup="FilterFn()"
                          placeholder="Filter Name"
                        />

                        <button
                          type="button"
                          class="btn btn-light"
                          @click="sortResult('Department', true)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-down-square-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"
                            />
                          </svg>
                        </button>

                        <button
                          type="button"
                          class="btn btn-light"
                          @click="sortResult('Department', false)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-up-square-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"
                            />
                          </svg>
                        </button>
                      </div>
                      Department
                    </th>
                    <th>
                      <div class="d-flex flex-row">
                        <input
                          class="form-control m-2"
                          v-model="DateOfJoiningFilter"
                          v-on:keyup="FilterFn()"
                          placeholder="Filter Name"
                        />

                        <button
                          type="button"
                          class="btn btn-light"
                          @click="sortResult('DateOfJoining', true)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-down-square-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"
                            />
                          </svg>
                        </button>

                        <button
                          type="button"
                          class="btn btn-light"
                          @click="sortResult('DateOfJoining', false)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-up-square-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"
                            />
                          </svg>
                        </button>
                      </div>
                      DOJ
                    </th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr v-for="emp in orderBy(employees,'EmployeeId')" v-bind:key="emp" v-bind:emp="emp"> -->
                  <tr
                    v-for="emp in employees"
                    v-bind:key="emp"
                    v-bind:emp="emp"
                  >
                    <td>{{ emp.EmployeeId }}</td>
                    <td>{{ emp.EmployeeName }}</td>
                    <td>{{ emp.Department }}</td>
                    <td>{{ emp.DateOfJoining }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-light mr-1"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        @click="editClick(emp)"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-pencil-square"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                          />
                          <path
                            fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                          />
                        </svg>
                      </button>
                      <button
                        type="button"
                        @click="deleteClick(emp.EmployeeId)"
                        class="btn btn-light mr-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-trash-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                          />
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        {{ modalTitle }}
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>

                    <div class="modal-body">
                      <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 w-50 bd-highlight">
                          <div class="input-group mb-3">
                            <span class="input-group-text">Name</span>
                            <input
                              type="text"
                              class="form-control"
                              v-model="EmployeeName"
                            />
                          </div>

                          <div class="input-group mb-3">
                            <span class="input-group-text">Department</span>
                            <select class="form-select" v-model="Department">
                              <option
                                v-for="dep in departments"
                                v-bind:key="dep"
                                v-bind:dep="dep"
                              >
                                {{ dep.DepartmentName }}
                              </option>
                            </select>
                          </div>

                          <div class="input-group mb-3">
                            <span class="input-group-text">DOJ</span>
                            <input
                              type="date"
                              class="form-control"
                              v-model="DateOfJoining"
                            />
                          </div>
                        </div>
                        <div class="p-2 w-50 bd-highlight">
                          <img
                            width="250"
                            height="250"
                            :src="PhotoPath + PhotoFileName"
                          />
                          <input
                            class="m-2"
                            type="file"
                            @change="imageUpload3"
                          />
                          <!-- Progress bar -->
                          <div>
                            <label for="progress-bar">0%</label>
                            <progress
                              id="progress-bar"
                              value="0"
                              max="100"
                            ></progress>
                          </div>
                        </div>
                      </div>
                      <button
                        type="button"
                        @click="createClick()"
                        v-if="EmployeeId == 0"
                        class="btn btn-primary"
                      >
                        Create
                      </button>
                      <button
                        type="button"
                        @click="updateClick()"
                        v-if="EmployeeId != 0"
                        class="btn btn-primary"
                      >
                        Update
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import Vue2Filters from "vue2-filters";
// import Storage from '@google-cloud/storage';
export default {
  name: "EmployeePage",
  data() {
    return {
      departments: [],
      employees: [],
      modalTitle: "",
      EmployeeName: "",
      EmployeeId: 0,
      Department: "",
      DateOfJoining: "",
      PhotoFileName: "anonymous.png",
      PhotoPath: process.env.VUE_APP_PHOTO_URL,
      EmployeeIdFilter: "",
      EmployeeNameFilter: "",
      DepartmentFilter: "",
      DateOfJoiningFilter: "",
      employeesWithoutFilter: [],
      Token: this.$cookies.get("token"),
    };
  },
  methods: {
    refreshData() {
      axios.get("http://127.0.0.1:8000/"+ "employee").then((response) => {
        this.employees = response.data;
        this.employeesWithoutFilter = response.data;
      });

      axios.get("http://127.0.0.1:8000/"+ "department").then((response) => {
        this.departments = response.data;
      });
    },
    addClick() {
      this.modalTitle = "Add Employee";
      this.EmployeeId = 0;
      this.EmployeeName = "";
      this.Department = 0;
      this.DateOfJoining = "";
      this.PhotoFileName = "anonymous.png";
    },
    editClick(emp) {
      this.modalTitle = "Edit Employee";
      this.EmployeeId = emp.EmployeeId;
      this.EmployeeName = emp.EmployeeName;
      this.Department = emp.Department;
      this.DateOfJoining = emp.DateOfJoining;
      this.PhotoFileName = emp.PhotoFileName;
    },
    createClick() {
      axios
        .post(process.env.VUE_APP_REP_URL + "employee", {
          EmployeeName: this.EmployeeName,
          Department: this.Department,
          DateOfJoining: this.DateOfJoining,
          PhotoFileName: this.PhotoFileName,
        })
        .then((response) => {
          this.refreshData();
          alert(response.data);
          $("#exampleModal").modal("hide");
        });
    },
    updateClick() {
      axios
        .put(process.env.VUE_APP_REP_URL + "employee", {
          EmployeeId: this.EmployeeId,
          EmployeeName: this.EmployeeName,
          Department: this.Department,
          DateOfJoining: this.DateOfJoining,
          PhotoFileName: this.PhotoFileName,
        })
        .then((response) => {
          this.refreshData();
          alert(response.data);
          $("#exampleModal").modal("hide");
        });
    },
    deleteClick(id) {
      if (!confirm("Are you sure?")) {
        return;
      }
      axios.delete(process.env.VUE_APP_REP_URL + "employee/" + id).then((response) => {
        this.refreshData();
        alert(response.data);
      });
    },
    imageUpload(event) {
      let formData = new FormData();
      formData.append("file", event.target.files[0]);
      axios
        .post(process.env.VUE_APP_REP_URL + "employee/savefile", formData)
        .then((response) => {
          this.PhotoFileName = response.data;
        });
    },
    imageUpload2(event) {
      let data = event.target.files[0];
      let bucketName = "jaya-pic";
      const d = new Date();
      let newFile = d.getTime() + ".jpg";
      let generationMatchPrecondition = 0;
      const storage = new Storage({ keyFilename: "../../jaya.json" });

      async function uploadFile() {
        const options = {
          destination: newFile,
          // Optional:
          // Set a generation-match precondition to avoid potential race conditions
          // and data corruptions. The request to upload is aborted if the object's
          // generation number does not match your precondition. For a destination
          // object that does not yet exist, set the ifGenerationMatch precondition to 0
          // If the destination object already exists in your bucket, set instead a
          // generation-match precondition using its generation number.
          preconditionOpts: { ifGenerationMatch: generationMatchPrecondition },
        };

        await storage.bucket(bucketName).upload(data, options).makePublic();
        console.log(`${filePath} uploaded to ${bucketName}`);
      }

      uploadFile().catch(console.error);
    },
    imageUpload3(event) {
      const bar = document.getElementById("progress-bar");
      const config = {
        headers: {
          Authorization: "Bearer " + this.Token,
          "Content-Type": "multipart/form-data",
        },
        onUploadProgress: function (progressEvent) {
          const percentCompleted = Math.round(
            (progressEvent.loaded / progressEvent.total) * 100
          );
          bar.setAttribute("value", percentCompleted);
          bar.previousElementSibling.textContent = `${percentCompleted}%`;
          if (percentCompleted === 100) {
            bar.previousElementSibling.textContent = `Upload complete!`;
          }
        },
      };
      let formData = new FormData();
      formData.append("file", event.target.files[0]);
      axios
        .post(process.env.VUE_APP_API_URL + "api/extra/upload", formData, config)
        .then((response) => {
          this.PhotoFileName = response.data.result[0].image;
        });
    },
    FilterFn() {
      var EmployeeIdFilter = this.EmployeeIdFilter;
      var EmployeeNameFilter = this.EmployeeNameFilter;
      var DepartmentFilter = this.DepartmentFilter;
      var DateOfJoiningFilter = this.DateOfJoiningFilter;

      this.employees = this.employeesWithoutFilter.filter(function (el) {
        return (
          el.EmployeeId.toString()
            .toLowerCase()
            .includes(EmployeeIdFilter.toString().trim().toLowerCase()) &&
          el.EmployeeName.toString()
            .toLowerCase()
            .includes(EmployeeNameFilter.toString().trim().toLowerCase()) &&
          el.Department.toString()
            .toLowerCase()
            .includes(DepartmentFilter.toString().trim().toLowerCase()) &&
          el.DateOfJoining.toString()
            .toLowerCase()
            .includes(DateOfJoiningFilter.toString().trim().toLowerCase())
        );
      });
    },
    sortResult(prop, asc) {
      this.employees = this.employeesWithoutFilter.sort(function (a, b) {
        if (asc) {
          return a[prop] > b[prop] ? 1 : a[prop] < b[prop] ? -1 : 0;
        } else {
          return b[prop] > a[prop] ? 1 : b[prop] < a[prop] ? -1 : 0;
        }
      });
    },
  },
  mounted: function () {
    this.refreshData();
  },
  mixins: [Vue2Filters.mixin],
};
</script>
