<template>
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Fitur</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <!-- <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol> -->
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Modal Section -->
  <!-- ============================================================== -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Karyawan</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div v-if="store.addkaryawanerr" class="alert alert-danger w-100 d-flex justify-content-center">
            <h3 clas="">{{ store.addkaryawanerr }}</h3>
          </div>
              <div class="col-md-12">
                <div class="card r-4">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="foto" class="control-label col-form-label"
                            >Foto karyawan</label
                          >
                          <div class="mb-4 mt-2 text-center">
                            <img
                              width="200"
                              height="200"
                              class="rounded-circle border-c-2"
                              :src="PhotoPath + store._foto"
                            />
                          </div>
                          <div class="row text-center">
                            <div class="d-flex justify-content-center">
                              <div>
                                <input
                                  type="file"
                                  class="w-75 custom-file-input"
                                  id="FormImgUser"
                                  @change="imageUpload3"
                                  required
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label
                            for="fname"
                            class="control-label col-form-label"
                            >Nama</label
                          >
                          <div class="">
                            <input
                              type="text"
                              class="form-control"
                              id="fname"
                              placeholder="Nama"
                              v-model="store._nama"
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <label
                            for="email"
                            class="control-label col-form-label"
                            >Email</label
                          >
                          <div class="">
                            <input
                              type="text"
                              class="form-control"
                              id="email"
                              placeholder="Email"
                              v-model="store._email"
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <label
                            for="username"
                            class="control-label col-form-label"
                            >Username</label
                          >
                          <div class="">
                            <input
                              type="text"
                              class="form-control"
                              id="username"
                              placeholder="Username"
                              v-model="store._username"
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <label
                            for="password"
                            class="control-label col-form-label"
                            >Password</label
                          >
                          <div class="">
                            <input
                              type="password"
                              class="form-control"
                              id="password"
                              placeholder="Password"
                              v-model="store._password"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="nhp" class="control-label col-form-label"
                            >Nomor Hp</label
                          >
                          <div class="">
                            <input
                              type="text"
                              class="form-control"
                              id="nhp"
                              placeholder="Nomor Hp"
                              v-model="store._hp"
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="nik" class="control-label col-form-label"
                            >KTP (NIK)</label
                          >
                          <div class="">
                            <input
                              type="text"
                              class="form-control"
                              id="nik"
                              placeholder="NIK"
                              v-model="store._nik"
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <label
                            for="tglmsk"
                            class="control-label col-form-label"
                            >{{ store._tgl_masuk }}</label
                          >
                          <div class="input-group">
                            <div class="input-group-append">
                              <span class="input-group-text h-100"
                                ><i class="mdi mdi-calendar">Date</i
                              ></span>
                            </div>
                            <div class="form-control control-datepicker">
                              <datepicker
                                class="form-control-datepicker"
                                v-model.sync="store._tgl_masuk"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label
                            for="alamat"
                            class="control-label col-form-label"
                            >Alamat</label
                          >
                          <div class="">
                            <textarea
                              class="form-control"
                              rows="3"
                              v-model="store._alamat"
                            ></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <label
                            for="jabatan"
                            class="control-label col-form-label"
                            >Jabatan</label
                          >
                          <div>
                            <Select2
                              v-model="store._jabatan"
                              :options="store.DataJab"
                              placeholder="--Pilih Jabatan--"
                            />
                            <!-- <h4>Value: {{ store._jabatan }}</h4> -->
                          </div>
                        </div>

                        <div class="form-group">
                          <label
                            for="cabang"
                            class="control-label col-form-label"
                            >Cabang</label
                          >
                          <div>
                            <Select2
                              v-model="store._cabang"
                              :options="store.DataCab"
                              placeholder="--Pilih Cabang--"
                            />
                            <!-- <h4>Value: {{ Cabang }}</h4> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button @click="editdatakaryawan(id__edit)" type="button" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4">
          <div class="card-body">
            <h5 class="card-title mb-0">List Data Karyawan</h5>
          </div>
          <div class="card-body">
            <div class="accordion w-25" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  >
                    Cari Data Pada Tabel
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="form-group w-100">
                            <label for="email"> Nama </label>
                            <div class="input-group">
                              <input
                                class="form-control"
                                v-model="NamaFilter"
                                v-on:keyup="FilterFn()"
                                placeholder="Filter Nama"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <div class="form-group w-100">
                            <label for="email"> Username </label>
                            <div class="input-group">
                              <input
                                class="form-control"
                                v-model="UsernameFilter"
                                v-on:keyup="FilterFn()"
                                placeholder="Filter Username"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Nama</label
                      >
                      <div class="col-sm-2">
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('nama', true)"
                        >
                          <i class="mdi mdi-arrow-up-bold"></i>
                        </button>
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('nama', false)"
                        >
                          <i class="mdi mdi-arrow-down-bold"></i>
                        </button>
                      </div>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Username</label
                      >
                      <div class="col-sm-2">
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('username', true)"
                        >
                          <i class="mdi mdi-arrow-up-bold"></i>
                        </button>
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('username', false)"
                        >
                          <i class="mdi mdi-arrow-down-bold"></i>
                        </button>
                      </div>
                    </div>
                  </th>
                  <th width="20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-6 control-label col-form-label"
                        >Action</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="user in paginatedData"
                  v-bind:key="user"
                  v-bind:user="user"
                >
                  <td>{{ user.nama }}</td>
                  <td>{{ user.username }}</td>
                  <td>
                    <button
                      class="btn btn-info r-6"
                      @click="showmodal(user.id)"
                    >
                      Edit
                    </button>
                    <router-link
                      :to="'/add-fitur/' + user.id"
                      class="btn btn-sm btn-info r-6"
                      ><i class="mdi mdi-account-edit"></i> Tambah
                      Fitur</router-link
                    >

                    <button
                      @click="changestatus(user.id, 0)"
                      v-if="user.status === 1"
                    >
                      Inactivate
                    </button>
                    <button
                      @click="changestatus(user.id, 1)"
                      v-if="user.status === 0"
                    >
                      Activate
                    </button>
                    <!-- <i class="mdi mdi-account-edit"></i>
                          </button> -->
                    <!-- <button class="btn btn-danger r-6">
                            <i class="mdi mdi-delete"></i>
                          </button> -->
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">
                    <div class="card-body float-end">
                      <div class="pagination">
                        <vue-awesome-paginate
                          :items-per-page="perPage"
                          :maxPagesShown="3"
                          v-model="currentPage"
                          :total-items="30"
                        >
                          <template #prev-button>
                            <span> Previous </span>
                          </template>
                          <template #next-button>
                            <span> Next </span>
                          </template>
                        </vue-awesome-paginate>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
            <div>
              <div class="card-body float-end">
                <button type="button" class="btn btn-danger">Kembali</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
/* eslint-disable */
import axios from "axios";
import { VueAwesomePaginate } from "vue-awesome-paginate";
import VueCookies from "vue-cookies";
import { useTaskStore } from "@/stores/TaskStore";
import Datepicker from "vue3-datepicker";
import Select2 from "vue3-select2-component";
export default {
  name: "FiturPage",
  components: { Select2, VueAwesomePaginate, Datepicker },
  data() {
    return {
      store: useTaskStore(),
      // karyawan : useTaskStore(),
      Token: this.$cookies.get("user").token,
      DataFitur: [],
      PhotoPath: process.env.VUE_APP_PHOTO_URL,
      nama: "",
      username: "",
      NamaFilter: "",
      UsernameFilter: "",
      perPage: 8,
      id__edit: "",
      
    };
  },
  setup() {
    const currentPage = ref(1);
    return {
      currentPage,
    };
  },
  computed: {
    totalData() {
      return this.store.DataUserFitur.length;
    },
    paginatedData() {
      // Calculate the index of the first and last item to display based on the current page and the number of items per page
      const startIndex = (this.currentPage - 1) * this.perPage;
      const endIndex = startIndex + this.perPage;
      // Return a subset of the people array that corresponds to the current page
      return this.store.DataUserFitur.slice(startIndex, endIndex);
    },
  },
  methods: {
    async changestatus(id, status) {
      this.store.changestatuskaryawan(id, status, this.Token);
      this.$swal({
        position: "center",
        icon: "success",
        title: "Status Berhasil Diubah",
        showConfirmButton: false,
        timer: 1500,
      });
      this.store.refreshData(this.Token);
    },
    FilterFn() {
      const data = {
        NamaFilter: this.NamaFilter,
        UsernameFilter: this.UsernameFilter,
      };
      this.store.filterfitur(data);
    },
    sortResult(prop, asc) {
      this.store.sortfilter(prop, asc);
    },

    showmodal(id) {
      this.id__edit = id;   
      this.store.getdatakaryawan(id, this.Token);
      $("#exampleModal").modal("show");
    },
    async editdatakaryawan(id){
      await this.store.editdatakaryawan(id)
      if(this.store.succes === true){
        this.$swal({
        position: "center",
        icon: "success",
        title: "Data Berhasil Diubah",
        showConfirmButton: false,
        timer: 1500,
      });
      this.store.refreshData(this.Token);
      $("#exampleModal").modal("hide");
      }
    },  
    imageUpload3(event) {
      let data = new FormData()
      data.append("file", event.target.files[0])
      this.store.imgupload(data, this.Token)
    }
  },
  mounted: function () {
    console.log(this.store._jabatan);
    this.store.refreshData(this.Token);
    this.store.refreshaddkaryawan(this.Token);  
    
  },
};
</script>
