<template>
  <div class="hello">
    <button @click="addata" class="btn btn-primary">KLIK</button>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "HelloWorld",

  methods: {
    // generate_headers(method, path) {
    //   let datetime = new Date().toUTCString();
    //   let requestLine = `${method} ${path} HTTP/1.1`;
    //   let payload = [`date: ${datetime}`, requestLine].join("\n");
    //   let signature = crypto
    //     .createHmac("SHA256", "2nxcdKFkb9mYj9QllaJFMyzeR8DM7cKp")
    //     .update(payload)
    //     .digest("base64");

    //   return {
    //     "Content-Type": "application/json",
    //     Date: datetime,
    //     Authorization: `hmac username="${"uOPOn2mEvJAGDjwV"}", algorithm="hmac-sha256", headers="date request-line", signature="${signature}"`,
    //   };
    // },

    // addata() {
    //   let method = "POST";
    //   let path = "v2/talenta/v2/employee";
    //   let headers = {
    //     "X-Idempotency-Key": "1234",
    //   };
    //   this.generate_headers(method, path);

    //   const options = {
    //     method: method,
    //     url: `https://api.mekari.com/${path}`,
    //     headers: { ...this.generate_headers(method, path), ...headers },
    //   };

    //   axios(options).then(res => {
    //     console.log(res)
    //   })
    // },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
