<template>

<div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Menu</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <!-- <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol> -->
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <div class="row">
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-cyan text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-view-dashboard"></i>
                  </h1>
                  <h6 class="text-white">Dashboard</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-success text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-chart-areaspline"></i>
                  </h1>
                  <h6 class="text-white">Charts</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-warning text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-collage"></i>
                  </h1>
                  <h6 class="text-white">Widgets</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-danger text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-border-outside"></i>
                  </h1>
                  <h6 class="text-white">Tables</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-info text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-arrow-all"></i>
                  </h1>
                  <h6 class="text-white">Full Width</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-danger text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-receipt"></i>
                  </h1>
                  <h6 class="text-white">Forms</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-info text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-relative-scale"></i>
                  </h1>
                  <h6 class="text-white">Buttons</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-cyan text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-pencil"></i>
                  </h1>
                  <h6 class="text-white">Elements</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-success text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-calendar-check"></i>
                  </h1>
                  <h6 class="text-white">Calendar</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-warning text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-alert"></i>
                  </h1>
                  <h6 class="text-white">Errors</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
          </div>
        </div>
</template>

<script>
    /* eslint-disable */ 
    import axios from 'axios'
    import VueCookies from 'vue-cookies'
    // import DashboardPage from './DashboardPage.vue';
    // import $ from 'jquery'
    export default {
    name: "MenuPage",
    data() {
        return {
            departments: [],
            modalTitle: "",
            DepartmentName: "",
            DepartmentId: 0,
            DepartmentIdFilter:"",
            DepartmentNameFilter:"",
            departmentsWithoutFilter:[],
            user: this.$cookies.get('user').id,
            Token: this.$cookies.get('token')
        };
    },
    methods: {
        refreshData() {
            axios.get(variables.REP_URL+"department").then((response) => {
                this.departments = response.data;
                this.departmentsWithoutFilter=response.data;
            });
        },
        addClick() {
            this.modalTitle = "Add Department";
            this.DepartmentId = 0;
            this.DepartmentName = "";
        },
        editClick(dep) {
            this.modalTitle = "Edit Department";
            this.DepartmentId = dep.DepartmentId;
            this.DepartmentName = dep.DepartmentName;
        },
        createClick() {
            axios.post(variables.REP_URL+"department", {
                DepartmentName: this.DepartmentName
            })
                .then((response) => {
                this.refreshData();
                alert(response.data);
                $("#exampleModal").modal("hide");
            });
        },
        updateClick() {
            axios.put(variables.REP_URL+"department", {
                DepartmentId: this.DepartmentId,
                DepartmentName: this.DepartmentName
            })
                .then((response) => {
                this.refreshData();
                alert(response.data);
                $("#exampleModal").modal("hide");
            });
        },
        deleteClick(id) {
            if (!confirm("Are you sure?")) {
                return;
            }
            axios.delete(variables.REP_URL+"department/" + id)
                .then((response) => {
                this.refreshData();
                alert(response.data);
            });
        },
        FilterFn(){
            var DepartmentIdFilter=this.DepartmentIdFilter;
            var DepartmentNameFilter=this.DepartmentNameFilter;

            this.departments=this.departmentsWithoutFilter.filter(
                function(el){
                    return el.DepartmentId.toString().toLowerCase().includes(
                        DepartmentIdFilter.toString().trim().toLowerCase()
                    )&&
                    el.DepartmentName.toString().toLowerCase().includes(
                        DepartmentNameFilter.toString().trim().toLowerCase()
                    )
                }
            );
        },
        sortResult(prop,asc){
            this.departments=this.departmentsWithoutFilter.sort(function(a,b){
                if(asc){
                    return(a[prop]>b[prop])?1:((a[prop]<b[prop])?-1:0);
                }else{
                    return(b[prop]>a[prop])?1:((b[prop]<a[prop])?-1:0);
                }
            })
        }
    },
    mounted: function () {
        this.refreshData();
    },
    // components: { DashboardPage }
}
</script>