<template>
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Produk</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <!-- <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol> -->
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Modal Section -->
  <!-- ============================================================== -->
  <div
    class="modal fade"
    id="exampleModal"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content r-8">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {{ modalTitle }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="foto" class="control-label col-form-label"
                  >Foto Produk</label
                >
                <div class="mb-4 mt-2 text-center">
                  <img
                    width="200"
                    height="200"
                    class="rounded-circle border-c-2"
                    :src="PhotoPath + this.PhotoFileName"
                  />
                </div>
                <div class="row text-center">
                  <div class="d-flex justify-content-center">
                    <div>
                      <input
                        type="file"
                        class="w-75 custom-file-input"
                        id="FormImgUser"
                        @change="imageUpload3"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="sku" class="control-label col-form-label"
                  >SKU</label
                >
                <div class="">
                  <input
                    type="text"
                    class="form-control"
                    id="sku"
                    placeholder="SKU"
                    v-model="SKU"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="fname" class="control-label col-form-label"
                  >Nama</label
                >
                <div class="">
                  <input
                    type="text"
                    class="form-control"
                    id="fname"
                    placeholder="Nama"
                    v-model="Nama"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="warna" class="control-label col-form-label"
                  >Warna</label
                >
                <div class="">
                  <input
                    type="text"
                    class="form-control"
                    id="warna"
                    placeholder="Warna"
                    v-model="Warna"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="merek" class="control-label col-form-label"
                  >Merek</label
                >
                <div class="">
                  <input
                    type="text"
                    class="form-control"
                    id="merek"
                    placeholder="Merek"
                    v-model="Merek"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="material" class="control-label col-form-label"
                  >Material</label
                >
                <div class="">
                  <input
                    type="text"
                    class="form-control"
                    id="material"
                    placeholder="Material"
                    v-model="Material"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="dimensi" class="control-label col-form-label"
                  >Dimensi</label
                >
                <div class="">
                  <input
                    type="text"
                    class="form-control"
                    id="dimensi"
                    placeholder="Dimensi"
                    v-model="Dimensi"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="jenis" class="control-label col-form-label"
                  >Jenis</label
                >
                <div>
                  <Select2
                    v-model="Jenis"
                    :options="store.DataJenis"
                    :settings="{
                      placeholder: '--Pilih Jenis--',
                      width: '100%',
                    }"
                    @select="mySelectEvent($event)"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="kategori" class="control-label col-form-label"
                  >Kategori</label
                >
                <div>
                  <Select2
                    v-model="Kategori"
                    :options="store.DataKategori"
                    :settings="{
                      placeholder: '--Pilih Kategori--',
                      width: '100%',
                    }"
                    @select="mySelectEvent($event)"
                  />
                  <!-- <h4>Value: {{ Kategori }}</h4> -->
                </div>
              </div>
              <div class="form-group">
                <label for="keterangan" class="control-label col-form-label"
                  >Keterangan</label
                >
                <div class="">
                  <input
                    type="text"
                    class="form-control"
                    id="keterangan"
                    placeholder="Keterangan"
                    v-model="Keterangan"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="deskripsi" class="control-label col-form-label"
                  >Deskripsi</label
                >
                <div class="">
                  <textarea
                    class="form-control"
                    rows="3"
                    v-model="Deskripsi"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
          <!-- <button
                  type="button"
                  class="btn btn-success text-white"
                  data-bs-dismiss="modal"
                >
                  Simpan
                </button> -->
          <button
            type="button"
            @click="createClick()"
            v-if="idProduk == 0"
            class="btn btn-success text-white"
          >
            Simpan
          </button>
          <button
            type="button"
            @click="updateClick()"
            v-if="idProduk != 0"
            class="btn btn-success text-white"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Modal Section -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4">
          <div class="card-body">
            <h5 class="card-title mb-0">Daftar Produk</h5>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th colspan="5">
                    <div class="accordion" id="accordionFlushExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button
                            class="accordion-button collapsed w-100"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne"
                            aria-expanded="false"
                            aria-controls="flush-collapseOne"
                          >
                            Cari Data pada Tabel
                          </button>
                        </h2>
                        <div
                          id="flush-collapseOne"
                          class="accordion-collapse collapse"
                          aria-labelledby="flush-headingOne"
                          data-bs-parent="#accordionFlushExample"
                        >
                          <div class="accordion-body">
                            <div class="d-flex flex-row">
                              <div class="p-2 flex-fill">
                                <div class="input-group">
                                  <div class="form-group w-100">
                                    <label for="email"> SKU </label>
                                    <div class="input-group">
                                      <input
                                        class="form-control"
                                        placeholder="Cari"
                                        v-model="SKUFilter"
                                        v-on:keyup="FilterFn()"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="p-2 flex-fill">
                                <div class="input-group">
                                  <div class="form-group w-100">
                                    <label for="email"> Nama </label>
                                    <div class="input-group">
                                      <input
                                        class="form-control"
                                        placeholder="Cari"
                                        v-model="NamaFilter"
                                        v-on:keyup="FilterFn()"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="p-2 flex-fill">
                                <div class="input-group">
                                  <div class="form-group w-100">
                                    <label for="email"> Jenis </label>
                                    <div class="input-group">
                                      <input
                                        class="form-control"
                                        placeholder="Cari"
                                        v-model="JenisFilter"
                                        v-on:keyup="FilterFn()"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="p-2 flex-fill">
                                <div class="input-group">
                                  <div class="form-group w-100">
                                    <label for="email"> Kategori </label>
                                    <div class="input-group">
                                      <input
                                        class="form-control"
                                        placeholder="Cari"
                                        v-model="KategoriFilter"
                                        v-on:keyup="FilterFn()"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="p-2 flex-fill">
                                <div class="input-group">
                                  <div class="form-group w-100">
                                    <label for="email"> Keterangan </label>
                                    <div class="input-group">
                                      <input
                                        class="form-control"
                                        placeholder="Cari"
                                        v-model="KeteranganFilter"
                                        v-on:keyup="FilterFn()"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <th>
                    <button
                      type="button"
                      class="btn btn-primary r-4 float-end"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      @click="addClick()"
                    >
                      <i class="mdi mdi-plus"></i> Tambah Produk
                    </button>
                  </th>
                </tr>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label
                        for="sku"
                        class="col-sm-6 control-label col-form-label"
                        >SKU</label
                      >
                      <div class="col-sm-6">
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('barcode', true)"
                        >
                          <i class="mdi mdi-arrow-up-bold"></i>
                        </button>
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('barcode', false)"
                        >
                          <i class="mdi mdi-arrow-down-bold"></i>
                        </button>
                      </div>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-6 control-label col-form-label"
                        >Nama</label
                      >
                      <div class="col-sm-6">
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('nama', true)"
                        >
                          <i class="mdi mdi-arrow-up-bold"></i>
                        </button>
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('nama', false)"
                        >
                          <i class="mdi mdi-arrow-down-bold"></i>
                        </button>
                      </div>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-6 control-label col-form-label"
                        >Jenis</label
                      >
                      <div class="col-sm-6">
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('jenis', true)"
                        >
                          <i class="mdi mdi-arrow-up-bold"></i>
                        </button>
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('jenis', false)"
                        >
                          <i class="mdi mdi-arrow-down-bold"></i>
                        </button>
                      </div>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-6 control-label col-form-label"
                        >Kategori</label
                      >
                      <div class="col-sm-6">
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('kategori', true)"
                        >
                          <i class="mdi mdi-arrow-up-bold"></i>
                        </button>
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('kategori', false)"
                        >
                          <i class="mdi mdi-arrow-down-bold"></i>
                        </button>
                      </div>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-6 control-label col-form-label"
                        >Keterangan</label
                      >
                      <div class="col-sm-6">
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('keterangan', true)"
                        >
                          <i class="mdi mdi-arrow-up-bold"></i>
                        </button>
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('keterangan', false)"
                        >
                          <i class="mdi mdi-arrow-down-bold"></i>
                        </button>
                      </div>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-6 control-label col-form-label"
                        >Action</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="produk in paginatedData"
                  v-bind:key="produk"
                  v-bind:produk="produk"
                >
                  <td>{{ produk.barcode }}</td>
                  <td>{{ produk.nama }}</td>
                  <td>{{ produk.jenis }}</td>
                  <td>{{ produk.kategori }}</td>
                  <td>{{ produk.keterangan }}</td>
                  <td>
                    <button
                      href=""
                      class="me-1 btn btn-sm btn-info r-6"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      @click="editClick(produk)"
                    >
                      <div>
                        <i class="mdi mdi-pencil"></i>
                      </div>
                    </button>
                    <button
                      class="btn btn-sm btn-danger r-6"
                      @click="deleteClick(produk.id)"
                    >
                      <i class="mdi mdi-delete"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="6">
                    <div class="card-body float-end">
                      <div class="pagination">
                        <vue-awesome-paginate
                          :items-per-page="perPage"
                          :maxPagesShown="3"
                          v-model="currentPage"
                          :total-items="store.DataLength"
                        >
                          <template #prev-button>
                            <span> Previous </span>
                          </template>
                          <template #next-button>
                            <span> Next </span>
                          </template>
                        </vue-awesome-paginate>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
            <div>
              <div class="card-body float-end">
                <button type="button" class="btn btn-danger">
                  {{ this.Token }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import md5 from "md5";
// import Vue from 'vue'
import VueCookies from "vue-cookies";
import { useTaskStore } from "@/stores/TaskStore";
import Select2 from "vue3-select2-component";
import Datepicker from "vue3-datepicker";
import { VueAwesomePaginate } from "vue-awesome-paginate";
import { ref } from "vue";
export default {
  name: "ProdukPage",
  components: { Select2, Datepicker, VueAwesomePaginate },
  data() {
    return {
      store: useTaskStore(),
      modalTitle: "",
      idProduk: 0,
      SKU: "",
      Nama: "",
      Deskripsi: "",
      Jenis: "",
      Kategori: "",
      Warna: "",
      Keterangan: "",
      Merek: "",
      Material: "",
      Dimensi: "",
      PhotoPath: process.env.VUE_APP_PHOTO_URL,
      Token: this.$cookies.get("user").token,
      PhotoFileName: "",
      idCabang: this.$cookies.get("user").id_cabang,
      SKUFilter: "",
      NamaFilter: "",
      JenisFilter: "",
      KategoriFilter: "",
      KeteranganFilter: "",

      perPage: 10,
    };
  },
  setup() {
    const currentPage = ref(1);
    return {
      currentPage,
    };
  },
  computed: {
    paginatedData() {
      // Calculate the index of the first and last item to display based on the current page and the number of items per page
      const startIndex = (this.currentPage - 1) * this.perPage;
      const endIndex = startIndex + this.perPage;

      // Return a subset of the people array that corresponds to the current page
      return this.store._DataProduk.slice(startIndex, endIndex);
    },
  },
  methods: {
    mySelectEvent({ id, text }) {
      console.log({ id, text });
    },
    addClick() {
      this.modalTitle = "Tambah Produk";
      this.idProduk = "";
      this.SKU = "";
      this.Nama = "";
      this.Deskripsi = "";
      this.Jenis = "";
      this.Kategori = "";
      this.Warna = "";
      this.Keterangan = "";
      this.Merek = "";
      this.Material = "";
      this.Dimensi = "";
      this.PhotoFileName = "anonymous.png";
    },
    editClick(produk) {
      this.modalTitle = "Edit Produk";
      this.idProduk = produk.id;
      this.SKU = produk.barcode;
      this.Nama = produk.nama;
      this.Deskripsi = produk.deskripsi;
      this.Jenis = produk.id_jenis;
      this.Kategori = produk.id_kategori;
      this.Warna = produk.warna;
      this.Keterangan = produk.keterangan;
      this.Merek = produk.merek;
      this.Material = produk.material;
      this.Dimensi = produk.dimensi;
      this.PhotoFileName = produk.foto;
    },
    createClick() {
      const event = new Date();
      const data = {
        barcode: this.SKU,
        nama: this.Nama,
        deskripsi: this.Deskripsi,
        id_jenis: this.Jenis,
        id_kategori: this.Kategori,
        warna: this.Warna,
        keterangan: this.Keterangan,
        merek: this.Merek,
        material: this.Material,
        dimensi: this.Dimensi,
        foto: "a.png",
        // foto: this.PhotoFileName,
        status: 1,
        tgl_input: event, //.toLocaleDateString('us-US'),
        id_cabang: this.idCabang,
      };

      this.store.addproduk( this.Token,data);
      this.$swal({
        position: "center",
        icon: "success",
        title: "Data Berhasil Ditambahkan",
        showConfirmButton: false,
        timer: 1500,
      });
      this.store.refreshdataproduk( this.Token ,this.idCabang);
      $("#exampleModal").modal("hide");
    },
    updateClick() {
      this.$swal({
        title: "Apakah Anda Yakin?",
        text: "Yang diubah tidak bisa kembali!",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, yakin ubah!",
      }).then((result) => {
        if (result.isConfirmed) {
          const data = {
            barcode: this.SKU,
            nama: this.Nama,
            deskripsi: this.Deskripsi,
            id_jenis: this.Jenis,
            id_kategori: this.Kategori,
            warna: this.Warna,
            keterangan: this.Keterangan,
            merek: this.Merek,
            material: this.Material,
            dimensi: this.Dimensi,
            foto: this.PhotoFileName,
          };
          this.store.updateproduk(this.Token, this.idProduk, data);
          this.$swal("Update!", "Data Berhasil Diubah", "success");
          this.store.refreshdataproduk(this.idCabang);
          $("#exampleModal").modal("hide");
          // const config = {
          //     headers: { "Authorization": "Bearer "+this.Token,"Content-Type": "multipart/form-data" }
          // };
          // axios.put(variables.API_URL+'/api/base/produk?where={"id":"='+this.idProduk+'"}',data,config)
          //     .then((response) => {
          //     this.$swal(
          //         'Update!',
          //         'Data Berhasil Diubah',
          //         'success'
          //     )
          //     this.refreshData();
          //     $("#exampleModal").modal("hide");
          // });
        }
      });
    },
    deleteClick(id) {
      this.$swal({
        title: "Apakah Anda Yakin?",
        text: "Yang dihapus tidak bisa kembali!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, yakin hapus!",
      }).then((result) => {
        if (result.isConfirmed) {
          this.store.deleteproduk(id);
          this.$swal("Deleted!", "Data Berhasil Dihapus", "success");
          this.store.refreshdataproduk(this.idCabang);
        }
      });
    },
    imageUpload3(event) {
      let formData = new FormData();
      formData.append("file", event.target.files[0]);
      this.store.imgupload(formData, this.Token);
      setTimeout(() => {
        this.PhotoFileName = this.store.PhotoFileName;
      }, 2000);
    },
    FilterFn() {
      const data = {
        SKUFilter: this.SKUFilter,
        NamaFilter: this.NamaFilter,
        JenisFilter: this.JenisFilter,
        KategoriFilter: this.KategoriFilter,
        KeteranganFilter: this.KeteranganFilter,
      };
      this.store.filterproduk(data);
    },
    sortResult(prop, asc) {
      this.store.sortproduk(prop, asc);
    },
  },
  mounted: function () {
    this.store.refreshdataproduk(this.Token, this.idCabang);
    console.log(this.store.DataProduk);
  },
};
</script>
