<template>
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div> -->
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div
    id="main-wrapper"
    data-layout="vertical"
    data-navbarbg="skin5"
    data-sidebartype="full"
    data-sidebar-position="absolute"
    data-header-position="absolute"
    data-boxed-layout="full"
  >
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin5">
      <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header" data-logobg="skin5">
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <a class="navbar-brand" href="index.html">
            <!-- Logo icon -->
            <b class="logo-icon ps-2">
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Dark Logo icon -->
              <img
                src="assets/images/logo/logo-sidebar.png"
                alt="homepage"
                class="light-logo"
                width="45"
              />
            </b>
            <!--End Logo icon -->
            <!-- Logo text -->
            <span class="logo-text ms-2">
              <!-- dark Logo text -->
              <img
                src="assets/images/logo/logo-text.png"
                alt="homepage"
                class="light-logo"
                height="40"
              />
            </span>
            <!-- Logo icon -->
            <!-- <b class="logo-icon"> -->
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
            <!-- <img src="assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->

            <!-- </b> -->
            <!--End Logo icon -->
          </a>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Toggle which is visible on mobile only -->
          <!-- ============================================================== -->
          <a
            class="nav-toggler waves-effect waves-light d-block d-md-none"
            href="javascript:void(0)"
            data-sidebartype="mini-sidebar"
            ><i class="ti-menu ti-close"></i
          ></a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div
          class="navbar-collapse collapse"
          id="navbarSupportedContent"
          data-navbarbg="skin5"
        >
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav float-start me-auto">
            <li class="nav-item d-none d-lg-block">
              <a
                class="nav-link sidebartoggler waves-effect waves-light"
                href="javascript:void(0)"
                data-sidebartype="mini-sidebar"
                ><i class="mdi mdi-menu font-24"></i
              ></a>
            </li>
          </ul>
          <!-- ============================================================== -->
          <!-- Right side toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav float-end">
            <!-- <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle waves-effect waves-dark logout"
                  href="index.html"
                  id="2"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="mdi mdi-logout"></i
                  ><span class="hide-menu">Log Out</span>
                </a>
              </li> -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="assets/images/logo/logo.png"
                  alt="user"
                  class=""
                  width="50"
                />
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin5">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul v-if="store.myid === 2" id="sidebarnav" class="pt-4">
            <li
              v-for="data in store._fiturs"
              v-bind:key="data.id"
              class="sidebar-item"
            >
              <router-link
                :to="data.url"
                class="sidebar-link waves-effect waves-dark sidebar-link"
              >
                <i class="mdi mdi-account-card-details"></i
                ><span class="hide-menu">{{ data.nama_fitur }}</span>
              </router-link>
            </li>
            <li class="sidebar-item">
              <button class="btn p-0 w-100" @click="logout()">
                <div
                  class="sidebar-link waves-effect waves-dark sidebar-link logout btn"
                >
                  <i class="mdi mdi-logout"></i>
                  <span class="hide-menu"> Log Out </span>
                </div>
              </button>
            </li>
          </ul>
          <ul v-else id="sidebarnav" class="pt-4">
            <li
              v-for="data in store._fiturs"
              v-bind:key="data.id"
              class="sidebar-item"
            >
              <router-link
                :to="data.url"
                class="sidebar-link waves-effect waves-dark sidebar-link"
              >
                <i class="mdi mdi-account-card-details"></i
                ><span class="hide-menu">{{ data.nama_fitur }}</span>
              </router-link>
            </li>
            <li class="sidebar-item">
              <button class="btn p-0 w-100" @click="logout()">
                <div
                  class="sidebar-link waves-effect waves-dark sidebar-link logout btn"
                >
                  <i class="mdi mdi-logout"></i>
                  <span class="hide-menu"> Log Out </span>
                </div>
              </button>
            </li>
          </ul>

        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <!-- <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card r-4">
                <div class="card-body"> -->
      <router-view></router-view>
      <!-- </div>
              </div>
            </div>
          </div>
        </div> -->
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer text-center">
        Copyright&copy; 2023 Jaya
        <br />
        Designed and Developed by
        <a href="horus.co.id" target="_blank">HORUS TECHNOLOGY</a>
      </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
</template>

<script>
/* eslint-disable */
import axios from "axios";

import { useTaskStore } from "@/stores/TaskStore";

export default {
  name: "DashboardPage",
  data() {
    return {
      store: useTaskStore(),
      EmployeeName: "",
      DepartmentName: "",
      user: this.$cookies.get("user").id,
      Token: this.$cookies.get("user").token,
    };
  },
  methods: {
    logout() {
      this.$cookies.keys().forEach((cookie) => this.$cookies.remove(cookie));
      this.$router.push("/");
    },
  },
  mounted: function () {
    this.store.refreshdashboard(this.user, this.Token);
  },
};
</script>
