<template>
  <div class="main-wrapper">
    <!-- <div class="preloader">
        <div class="lds-ripple">
          <div class="lds-pos"></div>
          <div class="lds-pos"></div>
        </div>
      </div> -->
    <div
      class="card-fullscreen d-flex no-block justify-content-center align-items-center bg-secondary-1"
    >
      <div class="login-box">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-12">
              <span class="db d-flex justify-content-center align-items-center">
                <img
                  class="w-100"
                  src="assets/images/logo/logo vertikal.png"
                  alt=""
                />
              </span>
            </div>
            <div class="col-md-5 col-12">
              <div
                class="card w-100 h-100 r-4 py-2"
                style="box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25)"
              >
                <div class="card-title">
                  <h2 class="text-center text-title mt-3 mb-2">
                    Login
                  </h2>
                </div>
                <div
                  v-if="store.usernotfound"
                  class="alert alert-danger w-100 d-flex justify-content-center"
                >
                  <h3 clas="">{{ store.usernotfound }}</h3>
                </div>
                <div
                  v-if="store.passworderr"
                  class="alert alert-danger w-100 d-flex justify-content-center"
                >
                  <h3 clas="">{{ store.passworderr }}</h3>
                </div>

                <div class="card-body mx-1">
                  <div class="input-group">
                    <div class="form-group w-100">
                      <label for="email"> Username </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"
                            ><i class="mdi mdi-email"></i
                          ></span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Username"
                          aria-label="Username"
                          aria-describedby="basic-addon1"
                          v-model="store.Username"
                          required
                          autofocus
                        />
                      </div>
                    </div>
                  </div>
                  <div class="input-group">
                    <div class="form-group w-100">
                      <label for="Password"> Password </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"
                            ><i class="mdi mdi-lock"></i
                          ></span>
                        </div>
                        <input
                          @keyup.enter="loginClick"
                          type="password"
                          class="form-control"
                          placeholder="Password"
                          aria-label="Password"
                          aria-describedby="basic-addon1"
                          v-model="store.Password"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-footer bg-transparent">
                  <div class="form-group mx-1">
                    <div class="pt-3">
                      <button
                        type="button"
                        @click="loginClick()"
                        class="btn btn-login btn-lg w-100 r-4"
                      >
                        Enter
                      </button>
                    </div>
                  </div>
                  <p class="text-center">
                    <strong>v 1.0</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import { useTaskStore } from "@/stores/TaskStore";
// import Vue from 'vue'
import { errfunc } from "@/stores/functions";

export default {
  name: "LoginPa",
  data() {
    return {
      Token: this.$cookies.get("token"),
      store: useTaskStore(),
      key: "",
      bil1: 1,
      bil2: 2,
      err: "",
    };
  },

  methods: {
    handleEnterKey(event) {
      // This method is called when the Enter key is pressed
      alert(event);
    },

    async loginClick() {
      await this.store.loginfunc();
      if (this.store.succes === true) {
        this.$router.push("/main");
      }s
    },
  },
};
</script>
