<template>
  <div class="login-page bg-grad-login">
    <div class="login-box rounded-circle">
      <div class="card">
        <div class="card-body login-card-body">
          <div class="login-logo d-flex justify-content-center">
            <img
              class="w-90"
              src="../../assets/images/logotransparent.png"
              alt=""
            />
          </div>
          <div v-if="store.passworderr" class="height">
            <h6 class="font-pass">{{ store.passworderr }} !!</h6>
          </div>

          <p class="login-box-msg text-bold">LOGIN V2</p>
          <form action="../../index3.html" method="post">
            <div class="input-group mb-3">
              <input
                type="username"
                class="form-control"
                v-model="store.Username"
                placeholder="Username"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                v-model="store.Password"
                @keyup.enter="loginClick"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember" />
                  <label for="remember"> Remember Me </label>
                </div>
              </div>
            </div> -->
          </form>
          <div class="social-auth-links text-center mb-3">
            <button
              @click="loginClick"
              class="bglogin-btn btn btn-block btn-success"
            >
              Sign in
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import md5 from "md5";
import { useTaskStore } from "@/stores/TaskStore";
// import Vue from 'vue'
import { errfunc } from "@/stores/functions";

export default {
  name: "LoginPage",
  data() {
    return {
      Token: this.$cookies.get("token"),
      store: useTaskStore(),
      key: "",
      bil1: 1,
      bil2: 2,
      err: "",
    };
  },

  methods: {
    handleEnterKey(event) {
      // This method is called when the Enter key is pressed
      alert(event);
    },

    loginClick() {
      this.store.loginfunc();
      
    },
  },
};
</script>
