<template>
  <div class="page-breadcrumb pt-2"></div>

  <div class="container-fluid mt-2">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Tambah Data Aset</h3>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="Grup" class="control-label col-form-label"
                >Kategori</label
              >
              <div>
                <Select2
                  class="w-100"
                  v-model="store.kategoriselect"
                  :options="store.kategorilist"
                  placeholder="--Pilih Kategori--"
                  
                />
              </div>
            </div>

            <div class="form-group">
              <label for="Grup" class="control-label col-form-label"
                >Cabang</label
              >
              <div>
                <Select2
                  v-model="store.cabangselect"
                  :options="store.cabanglist"
                  placeholder="--Pilih Cabang--"
                  
                />
              </div>
            </div>
            <div class="form-group">
              <label for="Grup" class="control-label col-form-label"
                >Kelas Grup Aset</label
              >
              <div>
                <Select2
                  v-model="KelasPick"
                  :options="Kelas"
                  placeholder="--Pilih Kelas Aset--"
                  
                />
              </div>
            </div>
            <div class="form-group">
              <label for="Grup" class="control-label col-form-label"
                >Grup Aset</label
              >
              <div>
                <Select2
                  v-model="store.grupasetselect"
                  :options="filterData"
                  placeholder="--Pilih Grup--"
                  
                />
              </div>
            </div>

            <div class="form-group">
              <label for="fname" class="control-label col-form-label"
                >Nama Aset</label
              >
              <div class="">
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  placeholder="Masukkan Nama Aset"
                  v-model="store.nama_aset"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Lokasi</label
              >
              <div class="">
                <input
                  class="form-control"
                  placeholder="Masukkan Lokasi Aset"
                  rows="3"
                  v-model="store.lokasi"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Value Awal</label
              >
              <div class="">
                <input
                  class="form-control"
                  rows="3"
                  type="number"
                  placeholder="Value Awal Aset"
                  v-model="store.value_awal"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Depresiasi</label
              >
              <div class="">
                <input
                  class="form-control"
                  rows="3"
                  type="number"
                  placeholder="Value Akhir Aset"
                  v-model="store.depresiasi"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="tglmsk" class="control-label col-form-label"
                >Tanggal Akuisisi</label
              >
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text h-100"
                    ><i class="mdi mdi-calendar">Date</i></span
                  >
                </div>
                <div class="form-control control-datepicker">
                  <datepicker
                    class="form-control-datepicker"
                    v-model.sync="store.tgl_akuisisi"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="tglmsk" class="control-label col-form-label"
                >Tanggal Expired</label
              >
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text h-100"
                    ><i class="mdi mdi-calendar">Date</i></span
                  >
                </div>
                <div class="form-control control-datepicker">
                  <datepicker
                    class="form-control-datepicker"
                    v-model.sync="store.tgl_expired"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Barcode</label
              >
              <div class="">
                <input
                  class="form-control"
                  placeholder="3643xxx"
                  rows="3"
                  v-model="store.barcode_aset"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Keterangan</label
              >
              <div class="">
                <textarea
                  class="form-control"
                  placeholder="Masukkan Keterangan Aset"
                  rows="3"
                  v-model="store.keterangan"
                ></textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Status</label
              >
              <div class="">
                <Select2
                  v-model="store.status_aset"
                  :options="status"
                  placeholder="--Pilih Cabang--"
                  
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-column align-items-center form-group">
              <label for="foto" class="control-label col-form-label"
                >Foto Aset</label
              >
              <div class="mb-4 mt-2 text-center">
                <img
                  width="300"
                  height="200"
                  class="border-c-2"
                  v-if="store?.foto_aset"
                  :src="PhotoPath + store?.foto_aset"
                />
                <img
                  width="300"
                  height="200"
                  class="border-c-2"
                  v-else
                  src="../../assets/imgdefault.jpg"
                />
              </div>
              <div class="row text-center">
                <div class="flex">
                  <div>
                    <input
                      type="file"
                      class="w-75 customfile"
                      @change="imgupload"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body float-end">
        <router-link :to="'/aset'" class="btn btn-danger">
          Kembali
        </router-link>
        <button
          type="button"
          class="btn btn-success text-white"
          style="margin-left: 10px"
          @click="addaset()"
          v-if="store?.foto_aset"
        >
          Simpan
        </button>
        <button
          v-else
          type="button"
          class="btn btn-success text-white"
          style="margin-left: 10px"
          disabled
        >
          Simpan
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Datepicker from "vue3-datepicker";

import Select2 from "vue3-select2-component";
export default {
  name: "AddAsetPage",
  components: { Select2, Datepicker },
  data() {
    return {
      store: useTaskStore(),
      coba: "",
      PhotoPath: process.env.VUE_APP_PHOTO_URL,
      status: ["Aktif", "Non Aktif"],
      Kelas : [{id: 1, text: "Benda"}, {id: 2, text: "Jasa"}],
      KelasPick: ""
    };
  },
  computed: {
    filterData(){
      return this.store.grupaset.filter((a) => a.id_kelas == this.KelasPick)
    }
  },

  methods: {
     
    async addaset() {
      await this.store.addaset();
      if (this.store.succes === true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Ditambahkan",
          showConfirmButton: false,
          timer: 1500,
        });

        this.$router.push("/aset");
      }
    },
    imgupload(event) {
      let formData = new FormData();
      formData.append("file", event.target.files[0]);
      this.store.imgupload(formData);
    },
  },
  mounted: function () {
    this.store.getkategoritext();
    this.store.getcabangtext();
    this.store.getgrupasettext();
    this.store.emptyStateAset();
  },
};
</script>
