<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Aset</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
         
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4">
          <div class="card-body items-center">
            <h5 class="card-title mb-0">List Data Aset</h5>
            <div class="d-flex justify-content-end">
              <router-link :to="'/addaset/'" class="btn btn-info"><i class="mdi mdi-account-edit"></i> Tambah
                Aset</router-link>
            </div>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-10 control-label col-form-label">Id Aset</label>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-10 control-label col-form-label">Nama Aset</label>
                   
                    </div>
                  </th> 
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-10 control-label col-form-label">Kategori</label>
                    
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-10 control-label col-form-label">Cabang</label>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-10 control-label col-form-label">Status Aset</label>
                    </div>
                  </th>

                  <th width="20%">
                    <div class="form-group row">
                      <label for="fname" class="col-sm-6 control-label col-form-label">Action</label>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="aset in store.allaset" v-bind:key="aset" v-bind:aktivitas="aset">
                  <td>{{ aset.id }}</td>
                  <td>{{ aset.nama_awal }}</td>
                  <td>{{ aset.nama_kategori }}</td>
                  <td>{{ aset.nama_cabang }}</td>
                  <td v-if="aset.status_aset === 1">Aktif</td>
                  <td v-else>Non Aktif</td>
                  <td class="d-flex gap-2">
                    <router-link :to="'/detailaset/' + aset.id" class="btn btn-info  ">
                      Detail Aset
                    </router-link>
                    <router-link :to="'/editaset/' + aset.id" class="d-flex align-items-center text-white btn btn-warning ">
                      Update
                    </router-link>
                    <button @click="deleteaset(aset.id)" class="btn btn-danger ">
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore"
export default {
  name: "AsetPage",

  data() {
    return {
      store: useTaskStore(),
      id__edit: "",
    };
  },

  methods: {
   
    updateaktivitas(id) {
      this.store.updateaktivitas(id);
      this.$swal({
        position: "center",
        icon: "success",
        title: "Data Berhasil Ditambahkan",
        showConfirmButton: false,
        timer: 1500,
      });
      this.store.getaktivitas()
    },
    deleteaktivitas(id) {
      console.log(id);
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          this.store.deleteaktivitas(id);
          this.$swal("Deleted!", "Data Berhasil Dihapus", "success");
          this.store.getaktivitas();
        }
      });
    },
    async deleteaset(id) {
      await this.store.deleteaset(id);
      this.$swal({
        position: "center",
        icon: "success",
        title: "Data Berhasil Dihapus",
        showConfirmButton: false,
        timer: 1500,
      });
      this.store.getallaset();
    },
  },
  mounted: function () {
    this.store.getallaset();
  },
};
</script>
