<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Aset</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="d-flex flex-col w-100 align-items-center">
            <img
              width="400"
              height="200"
              class="border-c-2"
              :src="PhotoPath + store?.foto_aset"
              alt=""
            />
          </div>
          <div class="gap-3 p-2">
            <h6 class="font-weight-bold">Nama Aset : {{ store.nama_aset }}</h6>
            <h6>Tgl Ditambahkan : {{ formattedDate(store.tgl_akuisisi) }}</h6>
            <h6>Lokasi : {{ store.lokasi }}</h6>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card r-4">
          <div class="card-body items-center">
            <h5 class="card-title mb-0">List Aktivitas Aset</h5>
            <div class="d-flex justify-content-end">
              <router-link :to="'/addaktivitasaset/' + id" class="btn btn-info"
                ><i class="mdi mdi-account-edit"></i> Tambah Aktivitas
                Aset</router-link
              >
            </div>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Aktivitas</label
                      >
                      <div class="col-sm-2">
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('nama', true)"
                        >
                          <i class="mdi mdi-arrow-up-bold"></i>
                        </button>
                        <button
                          class="btn btn-outline-secondary r-4 btn-sm border-0"
                          @click="sortResult('nama', false)"
                        >
                          <i class="mdi mdi-arrow-down-bold"></i>
                        </button>
                      </div>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Expiry Date</label
                      >
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Status Aktivitas</label
                      >
                    </div>
                  </th>

                  <th width="20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-6 control-label col-form-label"
                        >Action</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="aset in store.alldetailaset"
                  v-bind:key="aset"
                  v-bind:aktivitas="aset"
                >
                  <td>{{ aset.nama_aktivitas }}</td>
                  <td>{{ formattedDate(aset.expiry_date) }}</td>

                  <td v-if="todDaysLater(aset.expiry_date)">Expired Soon</td>
                  <td v-else-if="aset.status_aktivasi === 1">Avilable</td>
                  <td v-else>Expired</td>
                  <td class="d-flex gap-2">
                    <router-link
                      :to="'/editaktivitasaset/' + aset.id"
                      class="btn btn-warning"
                    >
                      Update
                    </router-link>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import moment from "moment";
export default {
  name: "DetailAsetPage",
  data() {
    return {
      store: useTaskStore(),
      coba: "",
      PhotoPath: process.env.VUE_APP_PHOTO_URL,
      id: this.$route.params.id,
      currentDate: new Date(),
    };
  },

  methods: {
    todDaysLater(date) {
      const today = new Date();
      const twoDaysLater = new Date();
      twoDaysLater.setDate(today.getDate() - 3);
      return new Date(date) >= twoDaysLater && today >= new Date(date);
    },
    formattedDate(data) {
      return moment(data).format("YY-MM-DD");
    },
  },

  mounted() {
    this.store.getAllAktivitasAset(this.id);
    this.store.getoneaset(this.id);
  },
};
</script>
