<template>
  <footer class="main-footer">
    <strong>Copyright &copy; 2023 <a href="https://adminlte.io/">Horus Technology</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 2.0
    </div>
  </footer>
</template>

<script>
export default {

}
</script>

<style>

</style>