<template>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebarbg elevation-4">
    <!-- Brand Logo -->
    <router-link to="/main" class="brand-link">
      <img
        src="../../assets/images/laricircle.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: "
      />
      <span class="brand-text " style="font-weight: 500; color: aliceblue;">Larissa V2</span>
    </router-link>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image"> -->
          <!-- <img src="../assets/img/avatar5.png" class="img-circle elevation-2" alt="User Image"> -->
        <!-- </div>
        <div class="info">
          <a href="#" class="d-block">Gondrong Keramat</a>
        </div>
      </div> -->

      <!-- SidebarSearch Form -->
      <!-- <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input
            class="form-control form-control-sidebar"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <div
            v-for="data in store._fiturs"
            v-bind:key="data"
            v-bind:user="data"
          >
            <li v-if="data.fitur === 'Kategori'" class="nav-item">
              <a href="#" class="nav-link text-white">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <p class="ml-2  ">
                  {{ data.fitur }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item ">
                  <router-link to="/addkategori" class="nav-link space text-white">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add Kategori</p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link to="/kategori" class="nav-link text-white">
                    <i class="far fa-circle nav-icon"></i>
                    <p>View Kategori</p>
                  </router-link>
                </li>
              </ul>
            </li>

            <li v-if="data.fitur === 'Aktivitas'" class="nav-item">
              <a href="#" class="nav-link text-white">
                <i class="fa fa-industry" aria-hidden="true"></i>
                <p class="ml-2">
                  {{ data.fitur }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link to="/aktivitas" class="nav-link text-white">
                    <i class="far fa-circle nav-icon"></i>
                    <p>View Aktivitas</p>
                  </router-link>
                </li>
              </ul>
            </li>

            <li v-if="data.fitur === 'Aset'" class="nav-item">
              <a href="#" class="nav-link text-white">
                <i class="fa fa-university" aria-hidden="true"></i>
                <p class="ml-2">
                  {{ data.fitur }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link to="/addaset" class="nav-link text-white">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add Aset</p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link to="/aset" class="nav-link text-white">
                    <i class="far fa-circle nav-icon"></i>
                    <p>View Aset</p>
                  </router-link>
                </li>
              </ul>
            </li>

            <li v-if="data.fitur === 'Cabang'" class="nav-item">
              <a href="#" class="nav-link text-white">
                <i class="fa fa-sitemap" aria-hidden="true"></i>
                <p class="ml-2">
                  {{ data.fitur }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link to="/addcabang" class="nav-link text-white">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add Cabang</p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link to="/cabang" class="nav-link text-white">
                    <i class="far fa-circle nav-icon"></i>
                    <p>View Cabang</p>
                  </router-link>
                </li>
              </ul>
            </li>

            <li v-if="data.fitur === 'Grup'" class="nav-item">
              <a href="#" class="nav-link text-white">
                <i class="fa fa-columns" aria-hidden="true"></i>
                <p class="ml-2">
                  {{ data.fitur }}
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link to="/grup" class="nav-link text-white">
                    <i class="far fa-circle nav-icon"></i>
                    <p>View Grup</p>
                  </router-link>
                </li>
              </ul>
            </li>

            <li v-if="data.fitur === 'Karyawan'" class="nav-item">
              <a href="#" class="nav-link text-white">
                <i class="fa fa-users" aria-hidden="true"></i>
                <p class="ml-2">
                  {{ data.fitur }}
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link to="/addkaryawan" class="nav-link text-white">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add Karyawan</p>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link to="/viewkaryawan" class="nav-link text-white">
                    <i class="far fa-circle nav-icon"></i>
                    <p>View Karyawan</p>
                  </router-link>
                </li>
              </ul>
            </li>

            <li v-if="data.fitur === 'Task'" class="nav-item">
              <a href="#" class="nav-link text-white">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <p class="ml-2">
                  {{ data.fitur }}
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link to="/task" class="nav-link text-white">
                    <i class="far fa-circle nav-icon"></i>
                    <p>View Task</p>
                  </router-link>
                </li>
              </ul>
            </li>

            <li v-if="data.fitur.toLowerCase().replace(/\s/g,'') === 'taskcabang'" class="nav-item">
              <a href="#" class="nav-link text-white">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <p class="ml-2">
                  {{ data.fitur }}
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <router-link to="/taskcabang" class="nav-link text-white">
                    <i class="far fa-circle nav-icon"></i>
                    <p> {{ data.fitur }}</p>
                  </router-link>
                </li>
              </ul>
            </li>
          </div>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";

export default {
  data() {
    return {
      store: useTaskStore(),
      user: this.$cookies.get("user").id,
      Token: this.$cookies.get("user").token,
    };
  },

  mounted() {
    this.store.refreshdashboard(this.user, this.Token);
  },
};
</script>

<style></style>
