@tailwind base;
@tailwind components;
@tailwind utilities;

.customfile {
  color: transparent;
}
.customfile::-webkit-file-upload-button {
  visibility: hidden;
}
.customfile::before {
  width: 100%;
  text-align: center;
  content: "Pilih file Foto";
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
}
.customfile:hover::before {
  border-color: black;
}
.customfile:active {
  outline: 0;
}
.customfile:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.www {
  width: 1000px;
}

.bg-grad-login {
  background: rgb(4, 235, 166);
  background: linear-gradient(
    90deg,
    rgba(4, 235, 166, 1) 0%,
    rgba(3, 193, 147, 1) 26%,
    rgba(1, 128, 112, 1) 100%
  );
}

.bglogin-btn {
  background: rgb(4, 235, 166);
  background: linear-gradient(
    90deg,
    rgba(4, 235, 166, 1) 0%,
    rgba(3, 193, 159, 1) 26%,
    rgba(1, 100, 128, 1) 100%
  );
}
.height {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-pass {
  text-align: center;
  color: rgb(208, 74, 74);
  font-size: 15px;
}
.kotakalbum {
  height: 100px;
  width: 100px;
  margin-bottom: 3px;
  transition: transform 0.3s ease-in-out;
}

.sizealbum {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #fff;
  z-index: 1;
}
.sizealbum:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(178, 178, 178, 0.5);
  background: #fff;
  z-index: 3;
}
.cobcob{
  width: 1000px;
}
.img_multiple{
  width: 100px; 
  }

.sidebarbg{
  background-color: #009D7B;
}


@media screen and (max-width: 768px) {
  /* CSS rules for screens up to 768px wide */
  /* Adjust layout, font sizes, etc. for smaller screens */
  .sizealbum:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(178, 178, 178, 0.5);
    background: #fff;
    z-index: 2;
  }
}


