<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Kategori</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <!-- content -->

  <div class="container-fluid mt-2">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Tambah Kategori</h3>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Nama Kategori</label
              >
              <div class="">
                <input
                  class="form-control"
                  rows="3"
                  placeholder="Masukkan Nama Kategori"
                  v-model="store._namakategori"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="alamat" class="control-label col-form-label"
                >Keterangan</label
              >
              <div class="">
                <input
                  class="form-control"
                  rows="3"
                  placeholder="Masukkan Nama Keterangan"
                  v-model="store._keterangan"
                />
              </div>
            </div>

           
          </div>
        </div>
      </div>

      <div class="card-body float-end">
        <router-link :to="'/aset'" class="btn btn-danger">
          Kembali
        </router-link>
        <button
          type="button"
          class="btn btn-success text-white"
          style="margin-left: 10px"
          @click="addkategori()"
        >
          Simpan
        </button>
      </div>
    </div>
  </div>

  
  
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
export default {
  name: "AddKategoriPage",
  data() {
    return {
      store: useTaskStore(),
    };
  },

  methods: {
    async addkategori() {
      await this.store.addkategori();
      if (this.store.succes == true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Ditambahkan",
          showConfirmButton: false,
          timer: 1500,
        });

        this.$router.push({ name: "KategoriPage" });
      }
    },
  },
  mounted: function () {
    this.store.emptykategori();
  },
};
</script>
