<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Menu Kategori</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>
  <!-- modal edit -->

  <div class="modal fade" id="exampleModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Kategori</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div
                  v-if="store.addkategorierr"
                  class="alert alert-danger w-100 d-flex justify-content-center"
                >
                  <h3 clas="">{{ store.addkategorierr }}</h3>
                </div>

                <div class="form-group">
                  <label for="fname" class="control-label col-form-label"
                    >Nama Kategori</label
                  >
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      id="fname"
                      placeholder="Nama"
                      v-model="store._namakategori"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Keterangan</label
                  >
                  <div class="">
                    <textarea
                      class="form-control"
                      rows="3"
                      v-model="store._keterangan"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            @click="updatekategori(id__edit)"
            class="btn btn-primary"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- content -->

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card r-4">
          <div class="card-body items-center">
            <h5 class="card-title mb-0">List Data Aset</h5>
            <div class="d-flex justify-content-end">
              <router-link :to="'/addkategori/'" class="btn btn-sm btn-info r-6"
                ><i class="mdi mdi-account-edit"></i> Tambah
                Kategori</router-link
              >
            </div>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Nama Kategori</label
                      >
                    </div>
                  </th>

                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-10 control-label col-form-label"
                        >Keterangan</label
                      >
                    </div>
                  </th>

                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-6 control-label col-form-label"
                        >Action</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="kategori in store.kategori"
                  v-bind:key="kategori"
                  v-bind:kategori="kategori"
                >
                  <td>{{ kategori.nama_kategori }}</td>
                  <td>{{ kategori.keterangan }}</td>
                  <td class="">
                    <button
                      class="btn btn-info r-6"
                      @click="showmodal(kategori.id)"
                    >
                      Edit
                    </button>
                    <button
                      class="btn btn-danger r-6 ml-4"
                      @click="deletekategori(kategori.id)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
// import $ from 'jquery';
export default {
  name: "KategoriPage",
  components: {},
  data() {
    return {
      store: useTaskStore(),
      id__edit: "",
      Token: this.$cookies.get("user").token,
    };
  },

  methods: {
    showmodal(id) {
      this.id__edit = id;
      this.store.getonekategori(id, this.Token);
      $("#exampleModal").modal("show");
    },
    async updatekategori(id) {
      await this.store.editkategori(id);
      if (this.store.succes == true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Diubah",
          showConfirmButton: false,
          timer: 1500,
        });
        this.store.getkategori();
        $("#exampleModal").modal("hide");
      }
    },
    deletekategori(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          this.store.deletekategori(id);
          this.$swal("Deleted!", "Data Berhasil Dihapus", "success");
          this.store.getkategori();
        }
      });
    },
  },
  mounted: function () {
    this.store.getkategori();
  },
};
</script>
